# OS
.DS_Store

# IDE
.VSCodeCounter/

# C
*.exe

# Python
VENV/
__pycache__/
environment.bak

# Sass
*.css.map

# Coverage
.coverage

# node
node_modules/

# Django
/Morningstar/settings/test.py
/database/
/whoosh_index/

# log
*.log

# release
release/

# static
/static/

# media
# NOTE: /media/*/*
/media/avatar/*
!/media/avatar/default.svg
/media/photo/*
!/media/photo/default.jpeg

# secret
.env
secret.sh
gcloud_instances.txt

# others
.vercel/
TEMP/
