# OS
.DS_Store

# IDE
.VSCodeCounter/
.idea/

# C
*.exe

# Python
VENV/
__pycache__/
environment.bak
pipdeptree.txt

# Sass
*.css.map

# Log
*.log

# Coverage
.coverage

# Vercel
.vercel/

# Node(需要考虑到开发时使用的是Arm版本的依赖)
node_modules/
yarn.lock
package-lock.json

# database
/database/
/whoosh_index/

# release
release/

# static
/static/

# media
/media/avatar/*
!/media/avatar/default.svg
/media/joke/photo/*
!/media/joke/photo/default.png

# secret
.env
/Morningstar/settings/test.py

# others
TEMP/
test.*
