Django==4.2.11
Faker==23.3.0
Markdown==3.5.2
Pillow==10.2.0
SciencePlots==2.1.1
Whoosh==2.7.4
beautifulsoup4==4.12.3
colorama==0.4.6
coverage==7.4.3
django-compressor==4.4
django-cors-headers==4.3.1
django-cors-middleware==1.5.0
django-crontab==0.7.1
django-debug-toolbar==3.8.1
django-filter==23.5
django-haystack==3.2.1
django-import-export==3.3.7
django-jazzmin==2.6.0
django-matomo==0.1.6
django-recaptcha==4.0.0
django-redis==5.4.0
django-user-agents==0.4.0
djangorestframework==3.14.0
fabric==3.2.2
fake-useragent==1.4.0
fontawesomefree==6.5.1
gunicorn==21.2.0
igraph==0.11.4
ipykernel==6.29.3
ipython==8.18.1
jieba==0.42.1
matplotlib==3.8.3
mdutils==1.6.0
mlxtend==0.23.1
mysql-connector-python==8.3.0
mysql-to-sqlite3==2.1.10
mysqlclient==2.1.1
nbformat==5.9.2
networkx==3.2.1
numpy==1.26.4
pandas==2.2.1
pip==24.0
pip-review==1.3.0
pipdeptree==2.16.0
pydub==0.25.1
pymdown-extensions==10.7
python-dotenv==1.0.1
qcloudsms-py==0.1.4
qrcode==7.4.2
readtime==3.0.0
redis==5.0.2
requests==2.31.0
scikit-learn==1.4.1.post1
scipy==1.12.0
seaborn==0.13.2
sh==2.0.6
simpy==4.1.1
sqlite3-to-mysql==2.1.7
tensorboard==2.16.2
torch==2.2.1
torch-tb-profiler==0.4.3
torch_geometric==2.2.0
torchinfo==1.8.0
torchmetrics==1.3.1
torchvision==0.17.1
tqdm==4.66.2
translate==3.6.1
urllib3==1.26.18
