Django==4.2.9
Faker==22.0.0
Markdown==3.5.1
Pillow==10.2.0
SciencePlots==2.1.1
Whoosh==2.7.4
beautifulsoup4==4.12.2
colorama==0.4.6
coverage==7.4.0
django-compressor==4.4
django-cors-headers==4.3.1
django-cors-middleware==1.5.0
django-crontab==0.7.1
django-debug-toolbar==3.8.1
django-filter==23.5
django-haystack==3.2.1
django-import-export==3.3.5
django-jazzmin==2.6.0
django-matomo==0.1.6
django-recaptcha==4.0.0
django-redis==5.4.0
django-user-agents==0.4.0
djangorestframework==3.14.0
fabric==3.2.2
fake-useragent==1.4.0
fontawesomefree==6.5.1
gunicorn==21.2.0
igraph==0.11.3
ipykernel==6.28.0
ipython==8.18.1
jieba==0.42.1
matplotlib==3.8.2
mdutils==1.6.0
mlxtend==0.23.1
mysql-connector-python==8.2.0
mysql-to-sqlite3==2.1.7
mysqlclient==2.1.1
nbformat==5.9.2
networkx==3.2.1
numpy==1.26.3
pandas==2.1.4
pip==23.3.2
pip-review==1.3.0
pipdeptree==2.13.1
pydub==0.25.1
pymdown-extensions==10.7
python-dotenv==1.0.0
qcloudsms-py==0.1.4
qrcode==7.4.2
readtime==3.0.0
redis==5.0.1
requests==2.31.0
scikit-learn==1.3.2
scipy==1.11.4
seaborn==0.13.1
sh==2.0.6
simpy==4.1.1
sqlite3-to-mysql==2.1.6
tensorboard==2.15.1
torch==2.1.2
torch-tb-profiler==0.4.3
torch_geometric==2.2.0
torchinfo==1.8.0
torchmetrics==1.2.1
torchvision==0.16.2
tqdm==4.66.1
translate==3.6.1
urllib3==1.26.18
