{% load compress %}
{% load matomo_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=350">
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
	<link rel="icon" href="{% static 'book/img/favicon.ico' %}">
	<link rel="apple-touch-icon" href="{% static 'book/img/favicon.png' %}">
	<!--https://fontawesome.com/v6/icons?m=free-->
	<link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="{% static 'node_modules/pace-js/pace-theme-default.min.css' %}">
	<script src="{% static 'node_modules/pace-js/pace.min.js' %}"></script>
	<title>Book - 我的书单</title>
	<meta name="description" content="时不时会分享刚读完的好书">
	{% compress css %}
	<link rel="stylesheet" href="{% static 'book/css/base.css' %}">
	{% endcompress %}
	{% tracking_code %}
</head>

<body>
	<div class="modals">
		<div>
			<input type="checkbox" id="my-modal" class="modal-toggle" />
			<div class="modal">
				<div class="modal-box relative p-8" id="myModalBox">
					<label for="my-modal" class="btn btn-sm btn-circle absolute right-2 top-2"
						id="myModalToggle">✕</label>
					<div class="text-4xl text-center font-bold">下载</div>
					<form action="{% url 'book:index' %}" method="POST" class="mt-5">
						{% csrf_token %}
						{{ verify_form.captcha }}
						<style>
							.g-recaptcha {
								display: flex;
								justify-content: center;
							}
						</style>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="min-h-screen container mx-auto">
		<header class="flex space-x-2 justify-center items-center text-3xl md:text-4xl pt-6">
			<span class="">我的书单</span>
			<i class="fa-brands fa-searchengin cursor-pointer" id="searchButton"></i>
		</header>
		<main class="overflow-x-auto mt-4 mb-8 relative">
			<table class="table table-zebra w-full">
				<thead>
					<tr>
						<th class="text-lg">编号</th>
						<th class="text-lg">书名</th>
						<th class="text-lg">分类</th>
						<th class="text-lg">作者</th>
						<th class="text-lg">译者</th>
						<th class="text-lg">下载</th>
					</tr>
				</thead>
				<tbody>
					{% for book in books %}
					<tr>
						<th>{{ forloop.counter }}</th>
						<td class="font-bold">{{ book.book_name }}</td>
						<td>{{ book.category.name }}</td>
						<td>{{ book.author.name }}</td>
						<td>
							{% if book.translator.name %}
							{{ book.translator.name }}
							{% else %}
							<span>/</span>
							{% endif %}
						</td>
						<th>
							<label for="my-modal" class="modal-button" data-bookId="{{ book.id }}">
								{% if book.foreign_url %}
								<div class="text-lime-500">外链下载</div>
								{% else %}
								<div class="text-red-500">站内下载</div>
								{% endif %}
							</label>
						</th>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</main>
		<footer class="mb-2">
			<div class="text-center">
				<div id="runtime_span"></div>
				<div id="copyright">
					<span>© 2022
						<a href="{% url 'me' %}" class="font-bold" style="font-family: Lora">Henry Ji</a>
					</span>
					<span class="brightness-0">/</span>
					<span>License: <a href="https://www.gnu.org/licenses/agpl-3.0.en.html"
							class="font-bold">AGPLv3</a></span>
					<span class="brightness-0">/</span>
					<span>Powered by <a href="https://www.djangoproject.com/" class="font-bold">Django</a></span>
				</div>
			</div>
			{% compress js %}
			<script src="{% static 'base/js/runtime.js' %}"></script>
			{% endcompress %}
		</footer>

	</div>

	<div id="overlay" class="hidden w-screen h-full z-40 absolute top-0 bg-gray-400/50">
		<div class="w-screen z-50 fixed top-[4rem] md:top-[7rem]" onclick="event.stopPropagation()">
			<form class="max-w-3xl md:max-w-2xl mx-auto px-8">
				<input type="text" placeholder="书名/作者" id="searchInput"
					class="w-full p-4 text-center text-2xl md:text-3xl rounded-3xl outline-none border-solid border-slate-300 border-8">
				<ul class="w-full px-4" id="suggestionList">
					<li class="p-4 text-gray-400">这里会显示推荐的书目</li>
				</ul>
			</form>
		</div>
	</div>
</body>

<script src="{% static 'node_modules/canvas-nest.js/dist/canvas-nest.js' %}"></script>
<script data-href="https://github.com/HenryJi529/OpenMorningstar"
	src="{% static 'node_modules/github-corners/dist/embed.min.js' %}"></script>

<script>
	const csrfToken = "{{ csrf_token }}";
	const endpoint = "{{ endpoint }}";
	const verifyUrl = "{% url 'book:index' %}";
	document.querySelector("#searchButton").addEventListener('click', e => {
		document.querySelector("#overlay").classList.remove("hidden");
	})
	document.querySelector("#overlay").addEventListener('click', e => {
		document.querySelector("#overlay").classList.add('hidden');
	})
</script>

{% compress js %}
<script src="{% static 'book/js/search.js' %}"></script>
<script src="{% static 'book/js/verify.js' %}"></script>
{% endcompress %}

</html>