{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="{% static 'book/img/favicon.ico' %}">
	<!--https://fontawesome.com/v6/icons?m=free-->
	<link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="{% static 'node_modules/pace-js/pace-theme-default.min.css' %}">
	<script src="{% static 'node_modules/pace-js/pace.min.js' %}"></script>
	<title>Book - 我的书单</title>
	<meta name="description" content="时不时会分享刚读完的好书">
	{% compress css %}
	<link rel="stylesheet" href="{% static 'book/css/base.css' %}">
	<link rel="stylesheet" href="{% static 'book/css/list.css' %}">
	<link rel="stylesheet" href="{% static 'book/css/search.css' %}">
	{% endcompress %}
</head>

<body>
	<div class="portainer">
		<header>
			<div class="title">我的书单<input type="button" value="🔍" id="searchButton"></input></div>
		</header>

		{% for category in categories %}
		<p class="category-name">分类：<span>{{ category.name }}</span></p>
		<ul class="category">
			{% for book in category.books %}
			<li class="item">
				{{ book.name }} | <a href="{{ book.url_lanzou }}" target="_blank">下载</a><br>
				{% if book.translator%}
				作者：{{ book.author }} &nbsp; 译者：{{ book.translator }} <br>
				{% else %}
				作者：{{book.author}} <br>
				{% endif %}
			</li>
			{% endfor %}
		</ul>
		{% if not forloop.last %}
		<hr>
		{% endif %}
		{% endfor %}
	</div>

	<div id="fade"></div>

	<div id="float">
		<form class="search-form">
			<input type="text" class="search" placeholder="书名/作者">
			<ul class="suggestions">
				<li>这里会显示推荐的书目</li>
			</ul>
		</form>
	</div>
</body>

<script src="{% static 'node_modules/canvas-nest.js/dist/canvas-nest.js' %}"></script>
<script data-href="https://github.com/HenryJi529/OpenMorningstar"
	src="{% static 'node_modules/github-corners/dist/embed.min.js' %}"></script>

<script>
	const endpoint = "{{ endpoint }}";
	document.querySelector("#searchButton").addEventListener('click', e => {
		document.querySelector("#float").style.display = "block";
		document.querySelector("#fade").style.display = "block";
	})
	document.querySelector("#fade").addEventListener('click', e => {
		document.querySelector("#float").style.display = 'none';
		document.querySelector("#fade").style.display = 'none';
	})
</script>

{% compress js %}
<script src="{%static 'book/js/search.js' %}"></script>
{% endcompress %}

</html>