* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

img {
    width: 100%;
    height: 100%;
    /* object-fit: contain; */
    object-fit: scale-down;
}
