* {
	font-size: 16px;
}

li a,
label {
	color: green;
	font-size: 1.8rem;
}

.container {
	width: 70%;
}

.box {
	border: 5px double rgb(0, 0, 0);
	margin: 10% auto;
	min-height: 500px;
	padding: 2em 2em;
	border-radius: 30px;
}

footer {
	position: absolute;
	bottom: 0;
	background-color: transparent;
	color: lightgray;
	width: 100%;
	height: 5vh;
	text-align: center;

	p {
		font-size: 1rem;
		line-height: 1.1rem;

		span {
			font-size: 1rem;

			a {
				color: gray;
			}
		}
	}
}