@import "tailwind";

@import "register_form";

@font-face {
    font-family: "Lora";
    src: url("/static/font/Lora-MediumItalic.ttf");
}

$post-inline-code-color: #08844F;
$post-link-color: #5660f1;


// NOTE: 解决tailwindcss覆盖daisyUI collapse引发的错误
.collapse {
    visibility: inherit !important;
}

// NOTE: 解决公式过宽的问题
mjx-container {
    overflow-x: scroll;
}


.toc {

    ul {
        padding-left: 1rem;

        li {
            list-style-type: disc;

            li {
                list-style-type: circle;

                li {
                    list-style-type: square;
                }
            }
        }
    }
}


.post {
    margin-bottom: 1rem;

    .post-body {
        h2 {
            // @extend .text-3xl;
            font-size: 1.875rem;
            line-height: 2.25rem;

            // @extend .mt-6;
            margin-top: 1.5rem;
            // @extend .mb-3;
            margin-bottom: 0.75rem;

            text-decoration-style: dashed;

            &::before {
                content: "#";
                // @extend .text-gray-500;
                color: rgb(107 114 128);
                // @extend .mr-2;
                margin-right: 0.5rem;
            }

        }

        h3 {
            // @extend .text-2xl;
            font-size: 1.5rem;
            line-height: 2rem;

            // @extend .mt-5;
            margin-top: 1.25rem;
            // @extend .mb-2;
            margin-bottom: 0.5rem;

            &::before {
                content: "##";
                // @extend .text-gray-500;
                color: rgb(107 114 128);
                // @extend .mr-2;
                margin-right: 0.5rem;
            }
        }

        h4 {
            // @extend .text-xl;
            font-size: 1.25rem;
            line-height: 1.75rem;

            // @extend .mt-4;
            margin-top: 1rem;
            // @extend .mb-1;
            margin-bottom: 0.25rem;

            &::before {
                content: "###";
                // @extend .text-gray-500;
                color: rgb(107 114 128);
                // @extend .mr-2;
                margin-right: 0.5rem;
            }
        }

        p {
            // @extend.mb-4;
            margin-bottom: 1rem;
        }

        a {
            color: $post-link-color;
            font-weight: bold;

            text-decoration: {
                line: underline;
                thickness: 2px;
            }

            margin: {
                left: 0.2rem;
                right: 0.2rem;
            }

            &:hover {
                color: cyan;
            }
        }

        code {
            font-family: monospace;
            font-size: 1.2rem;
            color: $post-inline-code-color;
            margin-left: 0.3rem;
            margin-right: 0.3rem;
        }

        pre {
            margin-bottom: 0.5rem;

            border: {
                radius: 1.2rem;
                width: 0.4rem;
                style: solid;
            }

            position: relative;

            .hljs-copy-button {
                display: block;
                position: absolute;
                top: 0.25rem;
                right: 1rem;
            }

            code {
                // @extend .overflow-scroll;
                overflow: scroll;
                // @extend .max-w-full;
                max-width: 100%;
                // @extend .block;
                display: block;
                // @extend .text-lg;
                font-size: 1.125rem;
                line-height: 1.75rem;

                // @extend .bg-transparent;
                background-color: transparent;

                padding: 0.5rem !important;

                .hljs-ln-n {
                    padding: 0 0.25rem;
                    margin-right: 0.25rem;
                }
            }

        }

        img {
            // @extend .block;
            display: block;
            // @extend .w-10/12;
            width: 83.333333%;

            margin: {
                // @extend .mx-auto;
                left: auto;
                right: auto;
                // @extend .my-2;
                top: 0.5rem;
                bottom: 0.5rem;
            }
        }

        strong {
            font-weight: bold;
        }

        em {
            font-style: italic;
        }

        ol,
        ul {
            padding-left: 2rem;
        }

        ol {
            li {
                list-style-type: decimal;
                margin-bottom: 0.2rem;

                li {
                    list-style-type: lower-roman;

                    li {
                        list-style-type: lower-alpha;

                        li {
                            list-style-type: lower-greek;
                        }
                    }
                }
            }
        }

        ul {
            li {
                list-style-type: disc;
                margin-bottom: 0.2rem;

                li {
                    list-style-type: circle;

                    li {
                        list-style-type: square;

                        li {
                            list-style-type: "👉 ";
                        }
                    }
                }
            }
        }

        blockquote {
            border: {
                radius: 0;
                width: 0 0rem 0rem 0.35rem;
                style: solid;
                color: greenyellow;
            }

            padding: 0.5rem 0 0.5rem 0.75rem;
            margin-bottom: 0.5rem;
        }
    }
}


#commentPreview,
.comment-body {
    h1 {
        // @extend .text-2xl;
        font-size: 1.5rem;
        line-height: 2rem;

        margin-top: 0.8rem;
        margin-bottom: 0.4rem;

        text-decoration-style: dashed;

        &::before {
            content: "#";
            // @extend .text-gray-500;
            color: rgb(107 114 128);
            margin-right: 0.25rem;
        }

    }

    h2 {
        // @extend .text-xl;
        font-size: 1.25rem;
        line-height: 1.75rem;

        margin-top: 0.65rem;
        margin-bottom: 0.25rem;

        &::before {
            content: "##";
            // @extend .text-gray-500;
            color: rgb(107 114 128);
            margin-right: 0.2rem;
        }
    }

    h3 {
        // @extend .text-lg;
        font-size: 1.125rem;
        line-height: 1.75rem;

        margin-top: 0.5rem;
        margin-bottom: 0.2rem;

        &::before {
            content: "###";
            // @extend .text-gray-500;
            color: rgb(107 114 128);
            margin-right: 0.15rem;
        }
    }

    p {
        // @extend.mb-4;
        margin-bottom: 1rem;
    }

    a {
        color: $post-link-color;
        font-weight: bold;

        text-decoration: {
            line: underline;
            thickness: 2px;
        }

        margin: {
            left: 0.2rem;
            right: 0.2rem;
        }

        &:hover {
            color: cyan;
        }
    }

    code {
        font-family: monospace;
        font-size: 1.2rem;
        color: $post-inline-code-color;
        margin-left: 0.3rem;
        margin-right: 0.3rem;
    }

    pre {
        margin-bottom: 0.35rem;

        border: {
            radius: 1.2rem;
            width: 0.35rem;
            style: solid;
        }

        position: relative;

        .hljs-copy-button {
            display: block;
            position: absolute;
            top: 0.25rem;
            right: 1rem;
        }

        code {
            // @extend .overflow-scroll;
            overflow: scroll;
            // @extend .max-w-full;
            max-width: 100%;
            // @extend .block;
            display: block;
            // @extend .text-lg;
            font-size: 1.125rem;
            line-height: 1.75rem;
            // @extend .bg-transparent;
            background-color: transparent;

            padding: 0.5rem !important;

            .hljs-ln-n {
                padding: 0 0.25rem;
                margin-right: 0.25rem;
            }
        }

    }

    img {
        // @extend .block;
        display: block;
        // @extend .w-10/12;
        width: 83.333333%;

        margin: {
            // @extend .mx-auto;
            left: auto;
            right: auto;
            // @extend .my-2;
            top: 0.5rem;
            bottom: 0.5rem;
        }
    }

    strong {
        font-weight: bold;
    }

    em {
        font-style: italic;
    }

    ol,
    ul {
        padding-left: 2rem;
    }

    ol {
        li {
            list-style-type: decimal;
            margin-bottom: 0.2rem;

            li {
                list-style-type: lower-roman;

                li {
                    list-style-type: lower-alpha;

                    li {
                        list-style-type: lower-greek;
                    }
                }
            }
        }
    }

    ul {
        li {
            list-style-type: disc;
            margin-bottom: 0.2rem;

            li {
                list-style-type: circle;

                li {
                    list-style-type: square;

                    li {
                        list-style-type: "👉 ";
                    }
                }
            }
        }
    }

    blockquote {
        border: {
            radius: 0;
            width: 0 0rem 0rem 0.35rem;
            style: solid;
            color: greenyellow;
        }

        padding: 0.35rem 0 0.35rem 0.75rem;
        margin-bottom: 0.5rem;

    }
}