* {
  font-size: 15px;
  padding: 0;
  margin: 0;
  ul {
    padding: 0;
  }
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: black;
  }
  .no-padding {
    padding-left: 0;
  }
}

#wrapper {
  width: 90%;
  margin: 0 auto;
  // border: #dee9cc 5px double;
  // border-radius: 1rem;
  header {
    #siteHeader {
      height: 5rem;
      justify-content: space-between;
      display: grid;
      grid-template-columns: 30% 1fr;
      #logo {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 4rem;
          height: 4rem;
        }
        a {
          height: 4rem;
          line-height: 4rem;
          font-size: 3rem;
          display: inline-block;
          text-align: center;
        }
      }
      #navBar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
        #navItems {
          width: 60%;
          display: flex;
          justify-content: space-around;
          flex-wrap: wrap;
          a {
            font-size: 1.5rem;
            height: 3rem;
            line-height: 3rem;
            text-align: center;
          }
        }
        #searchForm {
          width: 40%;
          height: 3rem;
          display: flex;
          justify-content: end;
          input {
            height: 3rem;
            width: 60%;
          }
          button {
            margin-left: 2%;
            height: 3rem;
            width: 3rem;
            background-color: azure;
            border-radius: 10px;
            box-shadow: 10px 5px 10px #dee9cc, -5px -5px 10px #ffffff;
            span {
              font-size: 1.5rem;
            }
          }
        }
      }
    }
    #message {
      text-align: center;
    }
  }
  main {
    .row {
      margin: 0;
    }
    .row * {
      padding: 0;
    }
  }
  footer {
    p {
      text-align: center;
    }
  }
}

.pagination {
  text-align: center;
  ul {
    margin: 0 auto;
    li {
      display: inline;
    }
  }
}

article.post {
  .entry-header {
    .index-title {
      font-size: 1.5rem;
      display: block;
    }
    .detail-title {
      font-size: 2.5rem;
      display: block;
    }
    .entry-title {
      text-align: center;
    }
    .entry-meta {
      text-align: center;
    }
  }
  h1 {
    font-size: 2.2rem;
    font-weight: bold;
  }
  h2 {
    font-size: 2rem;
    font-weight: bold;
  }
  h3 {
    font-size: 1.8rem;
    font-weight: bold;
  }
  h4 {
    font-size: 1.6rem;
    font-weight: bold;
  }
  h5 {
    font-size: 1.4rem;
    font-weight: bold;
  }
  h6 {
    font-size: 1.2rem;
    font-weight: bold;
  }
  .codehilite pre {
    padding: 20px;
    border: 5px rgb(209, 204, 204) solid;
    border-radius: 1em;
    .hljs {
      padding: 0.5rem !important;
      .hljs-ln {
        .hljs-ln-numbers {
          user-select: none;
          text-align: center;
          color: #ccc;
          border-right: 1px solid #ccc;
          padding-right: 0.5em !important;
          .hljs-ln-n {
            width: 1.5em;
            color: antiquewhite;
          }
        }
        .hljs-ln-code {
          padding-left: 0.5rem !important;
          white-space: pre;
        }
      }
    }
  }
}

.navbar .nav-list ul li {
  display: inline;
  a {
    font-size: 2rem;
  }
}

#comment-area {
  .comment-form {
    textarea#id_text {
      width: 100%;
    }
  }
}

#wrapper main .row .widget-content .toc {
  li {
    list-style: circle;
  }
  ul {
    ul {
      padding-left: 1rem;
    }
  }
}

@media screen and (max-width: 790px) {
  #wrapper {
    width: 100%;
    header {
      #siteHeader {
        height: 10rem;
        grid-template-columns: 1fr;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  #wrapper {
    header {
      #siteHeader {
        height: 10rem;
        grid-template-columns: 1fr;
        #navBar {
          display: grid;
          grid-template-columns: 1fr;
          #navItems {
            width: 100%;
          }
          #searchForm {
            width: 100%;
          }
        }
      }
    }
  }
}
