* {
  font-size: 22px;
}

h1 {
  font-size: 1.5rem;
}

body{
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 25vh;
}

.container {
  width: 60%;
  background-color: #f0f0f0;
  padding: 2% 5%;
  border-radius: 2.5rem;
  ul {
    padding-left: 2rem;
    li {
      line-height: 2;
      a {
        color: #20a53a;
        text-decoration: none;
      }
      a.special {
        color: rgb(232, 48, 186);
      }
      a:hover {
        color: rgb(53, 232, 232);
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .container {
    width: 80%;
  }
}
