@import "tailwind";

@font-face {
  font-family: "Lora";
  src: url("/media/font/Lora-MediumItalic.ttf");
}

.neumorphism {
  box-shadow: 0.5rem 0.5rem 1rem #9d9d9d, -0.5rem -0.5rem 1rem #ffffff;
}

.custom-list-style {
  list-style-image: url(../img/rocket.svg);
}