@font-face {
  font-family: "Lora";
  src: url("/media/font/Lora-MediumItalic.ttf");
}

@font-face {
  font-family: "Pacifico";
  src: url("/media/font/Pacifico-Regular.ttf");
}

$background-color-in-leftbar: #34383c;
$border-color-in-box: rgb(214, 206, 206);
$font-color-in-leftbar: gray;
$blue: #3273dc;
$font-family-base: Helvetica Neue, Microsoft Yahei;
$width-leftbar: 15%;

// 简介量
$width-main: 100% - $width-leftbar;
$margin-left-main: $width-leftbar;
$width-command: $width-leftbar;

* {
  padding: 0 0;
  margin: 0 0;
  font-family: $font-family-base;
  font-size: 16px;

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }
}

#container {
  #headBar {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 99;
    color: rgb(216, 139, 38);
    display: none;

    @media screen and (max-width: 900px) {
      display: block;
    }

    .title {
      font-size: 2rem;
      text-align: center;
    }

    .nav {
      width: 90%;
      display: flex;
      justify-content: space-around;
      margin-left: 5%;

      a span {
        font-size: 1.5rem;
        color: black;
      }

      a:hover span {
        color: blue;
      }

      a:active span {
        color: rgb(196, 222, 50);
      }


    }
  }

  #leftBar {
    width: $width-leftbar;
    height: 100vh;
    position: fixed;
    box-sizing: border-box;
    overflow: hidden;
    background-color: $background-color-in-leftbar;
    text-align: center;

    a,
    span,
    div {
      color: $font-color-in-leftbar;
    }

    .title {
      font-size: 2rem;
      margin: 1rem 0;
      color: rgb(153, 235, 47);
    }

    .nav {
      font-size: 1.5rem;

      ul li {
        margin: 0.5rem 0rem;

        a span:hover {
          color: #3ad7b5;
        }
      }
    }

    .command {
      span:hover {
        color: #92f833;
      }

      .username {
        font-size: 1.2rem;
      }

      a.email:hover {
        color: #11e2b5;
      }

      position: fixed;
      width: $width-command;
      bottom: 1rem;
    }
  }

  #main {
    width: $width-main;
    margin-left: $margin-left-main;
    box-sizing: border-box;
    height: 100vh;

    section.box {
      width: 100%;
      border: 1px $border-color-in-box dashed;
      font-size: 1.5rem;
      margin-bottom: 2rem;
      padding-top: 0.5rem;
      padding-bottom: 1rem;

      .category {
        text-indent: 1rem;
        margin-top: 0.5rem;
        margin-bottom: 0.3rem;

        span {
          font-size: 1.3rem;
        }
      }

      .item-list {
        display: grid;
        justify-content: space-around;
        padding-right: 3em;
        grid-template-columns: repeat(4, 22%);

        .item {
          margin: 0.5rem 0;
          background-color: white;
          box-shadow: 0.5rem 0.5rem 1rem #9d9d9d, -0.5rem -0.5rem 1rem #ffffff;
          color: rgb(17, 17, 7);
          border-radius: 1.5rem;
          box-sizing: border-box;
          transition: transform 0.4s;

          .edits {
            flex: 1;
            text-align: right;
            padding-right: 1rem;
          }

          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
          }

          .item-name {
            font-weight: bold;
            font-size: 1.1rem;
          }

          .logo {
            display: flex;
            padding: 1rem 0.5rem;
            align-items: center;

            .item-name {
              text-indent: 0.5em;
            }
          }

          .logo::before {
            display: inline-block;
            content: " ";
            width: 1rem;
          }

          .no-logo {
            display: flex;
            align-items: center;
            padding: 0.5em 0;

            .item-name {
              text-indent: 1.5em;
            }
          }

          .desc {
            text-indent: 1em;
            position: relative;
            top: -0.5rem;
          }
        }

        .item:hover {
          transform: translateX(0.3rem);
        }
      }
    }

    footer {
      text-align: center;
      position: relative;
      top: -1rem;
    }

    footer .copyright {
      position: relative;
      top: -0.5rem;
    }

    footer .copyright span {
      font-size: 1.2rem;
    }
  }
}

.delete-icon,
.add-icon {
  font-size: 1.5rem;
  display: none;
  color: rgb(186, 173, 173);
}

@media screen and (max-width: 1300px) {
  #container #leftBar .title {
    font-size: 1.5rem;
  }

  #container #main section.box .item-list {
    padding-right: 1rem;
    grid-template-columns: repeat(3, 31%);
  }
}

@media screen and (max-width: 900px) {
  #container #leftBar {
    display: none;
  }

  #container #main {
    position: relative;
    top: 5rem;
    width: 100vw;
    margin: 0 0;
    margin-left: 0;

    section.box .item-list {
      padding-right: 0;
    }
  }

  #container #main section.box .item-list {
    grid-template-columns: repeat(2, 45%);
  }
}

@media screen and (max-width: 500px) {
  #container #main section.box .item-list {
    grid-template-columns: repeat(1, 90%);
  }
}