* {
  padding: 0;
  margin: 0;
  font-size: 11.5px;
  font-family: monospace;
}

hr {
  margin: 0;
}

.bold-font {
  font-weight: bold;
}

a {
  color: black;
}

ol {
  margin-bottom: 0 !important;
}

.photo {
  height: 10rem;
}

.bold-font {
  font-weight: bold;
}

.container {
  margin-top: 3rem !important;
  // position: absolute;
  // top: 5%;
  /* 210mm×297mm */
  width: 70.70707070707071vh;
  // height: 100vh;
  padding: 1em;
  // border: 3px rgb(233, 23, 23) double;
  box-sizing: border-box;
  margin: 0 auto;

  .section {
    margin: 0.3rem 0;
    padding: 0.5rem;
    // border: 1px black dashed;
    overflow: hidden;

    .title {
      text-align: left !important;
      font-size: 1.6rem;
      font-weight: bold;
    }

    .name {
      font-weight: bold;
      font-size: 1.4rem;
    }

    .time {
      float: right;
      font-weight: bold;
    }

    .row-item>* {
      display: inline;
    }

    .item {
      // border: 1px black dotted;
      margin-bottom: 0.3rem;
      padding: 0.2rem;

      .desc {
        padding-left: 1em;

        .process {
          padding-left: 1em;
        }
      }
    }
  }

  .section-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .need-to-know desc {
      .row-item {
        width: 100px;
      }
    }
  }
}