{% load matomo_tags %}
{% load static %}
{% load compress %}
<!DOCTYPE html>
<html lang="zh-CN" data-theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="二代青雉的个人网站">
    <link rel="icon" href="{% static 'base/img/favicon.ico' %}">
    <title>{% block title %} {% endblock %}</title>
    {% compress css %}
    <link rel="stylesheet" href="{% static 'base/css/base.css' %}">
    {% endcompress %}
    {% block custom_css %}{% endblock %}
    {% tracking_code %}
</head>

<body class="bg-no-repeat bg-gradient-to-b from-cyan-100 to-cyan-50 relative">
    <main class="flex justify-center items-center">
        {% block content %}{% endblock %}
    </main>

    <footer id="footer" class="absolute bottom-2 w-screen">
        <div class="text-center text-zinc-400">
            <div id="runtime_span"></div>
            <div id="copyright">
                <span>© 2021 <a href="{% url 'me' %}" class="font-bold text-zinc-500">Henry Ji</a></span>
                <span>/</span>
                <span>License:
                    <a href="https://www.gnu.org/licenses/agpl-3.0.en.html" class="font-bold text-zinc-500">AGPLv3</a>
                </span>
                <span>/</span>
                <span>Powered by <a href="https://cloud.google.com/" class="font-bold text-zinc-500">GCloud</a></span>
            </div>
        </div>
        {% compress js %}
        <script src="{% static 'base/js/runtime.js' %}"></script>
        {% endcompress %}
    </footer>
</body>

<!-- 移动端适配 -->
<script>
    const footer = document.querySelector("#footer");
    const isMobile = /Android|iPhone/i.test(navigator.userAgent) ? true : false;
    if (isMobile) {
        footer.classList.remove("absolute");
    }
</script>

<script data-href="https://github.com/HenryJi529/OpenMorningstar"
    src="{% static 'node_modules/github-corners/dist/embed.min.js' %}"></script>

{% block custom_js %}{% endblock %}

</html>