{% load compress %}
<form id="login_form" action="{% url 'spa' %}" method="post" autocomplete="on">
	{% csrf_token %}
	{% for field in login_form %}
	<div class="mb-2">
		<div id="{{ field.name }}_check"></div>
		<label for="{{ field.id_for_label }}">{{ field.label }}: </label>
		{% if field.name == 'image_captcha' %}
		<div id="id_image_captcha_box" class="flex justify-between items-center">
			<div class="w-7/12">
				{{ field }}
			</div>
			<div class="w-5/12 flex justify-end items-center">
				<img src="{% url 'get_image_captcha' %}" alt="图片验证码" title="点击刷新,60s有效" id="image_code">
			</div>
		</div>
		{% else %}
		{{ field }}
		{% endif %}
	</div>
	{% endfor %}
	<div class="flex justify-evenly items-center mb-3">
		<input type="reset" value="重置" class="btn shadow-md shadow-gray-500">
		<div></div>
		<input name="next" value="{{request.GET.next}}" hidden></input>
		<div></div>
		<input type="submit" value="登录" class="btn shadow-md shadow-gray-500">
	</div>
	<p class="flex justify-evenly items-center px-8 mb-1">
		<input type="button" value="忘记密码" id="change_password_button" class="btn btn-sm shadow-md shadow-gray-500">
		<input type="button" value="点此注册" id="register_button" class="btn btn-sm shadow-md shadow-gray-500">
	</p>
</form>

<script>
	const changePasswordUrl = "{% url 'change_password' %}";
</script>
{% compress js %}
<script src="{% static 'base/js/login.js' %}"></script>
{% endcompress %}