{% extends 'base/base.html' %}
{% load static %}
{% load compress %}
{% block title %}
登录/注册
{% endblock %}

{% block custom_css %}
{% compress css %}
<link rel="stylesheet" href="{% static 'base/css/login_register.css' %}">
{% endcompress %}
{% endblock %}


{% block content %}
<div id="wrap" class="min-h-screen flex justify-center items-center">
    <div class="w-full max-w-xl px-4 py-6 rounded-3xl neumorphism font-bold overflow-hidden relative">
        {% if messages %}
        <div class="top-4 w-full mx-auto">
            {% for message in messages %}
            <div class="alert alert-info shadow-lg">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        class="stroke-current flex-shrink-0 w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                    </svg>
                    <span>{{ message }}</span>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <div class="w-40 mx-auto">
            <img src="{% static 'base/img/logo.png' %}" alt="logo" class="w-full">
        </div>
        {% include 'base/login_form.html' %}
        {% include 'base/register_form.html' %}
    </div>
</div>
{% endblock %}


{% block custom_js %}
<script>
    const registerForm = document.querySelector("#register_form")
    const loginForm = document.querySelector("#login_form")
    const register_button = document.querySelector("#register_button")
    const login_button = document.querySelector("#login_button")
</script>

<script>
    let action = sessionStorage.getItem('action') || 'login';
    if (action === 'login') {
        sessionStorage.setItem('action', 'login')
        loginForm.classList.remove("hidden")
        registerForm.classList.add("hidden")
    } else {
        sessionStorage.setItem('action', 'register')
        loginForm.classList.add("hidden")
        registerForm.classList.remove("hidden")
    }
    register_button.addEventListener("click", () => {
        sessionStorage.setItem('action', 'register')
        loginForm.classList.add("hidden")
        registerForm.classList.remove("hidden")
    })
    login_button.addEventListener("click", () => {
        sessionStorage.setItem('action', 'login')
        loginForm.classList.remove("hidden")
        registerForm.classList.add("hidden")
    })
</script>
{% endblock %}