{% load compress %}
<form id="register_form" action="{% url 'spa' %}" method="post" autocomplete="on" class="hidden">
	{% csrf_token %}
	{% for field in register_form %}
	<div class="mb-2">
		<div id="{{ field.name }}_check"></div>
		<label for="{{ field.id_for_label }}">{{ field.label }}: </label>
		{{ field }}
	</div>
	{% endfor %}
	<div class="flex justify-evenly items-center mb-3">
		<input type="reset" value="重置" class="btn shadow-md shadow-gray-500">
		<div></div>
		<input name="next" id="next" value="{{request.GET.next}}" hidden></input>
		<div></div>
		<input type="button" value="注册" class="btn shadow-md shadow-gray-500" id="submit_button">
	</div>
	<p class="flex justify-evenly items-center px-8 mb-1">
		<input type="button" value="联系客服" id="contact_button" class="btn btn-sm shadow-md shadow-gray-500">
		<input type="button" value="点此登录" id="login_button" class="btn btn-sm shadow-md shadow-gray-500">
	</p>
</form>
<script>
	const csrfToken = "{{ csrf_token }}";
</script>
{% compress js %}
<script src="{% static 'base/js/register.js' %}"></script>
{% endcompress %}