{% load static %}
{% load blog_extras %}
<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>嘉鱼居</title>
	<link rel="icon" href="{% static 'blog/img/favicon.ico' %}">
	<!--https://icofont.com/icons-->
	<link rel="stylesheet" href="https://icofont.morningstar529.com/icofont.min.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
	<!-- <link href="https://cdn.bootcss.com/highlight.js/11.3.1/styles/github.min.css" rel="stylesheet"> -->
	<link href="https://cdn.jsdelivr.net/npm/highlight.js@11.3.1/styles/github-dark.css" rel="stylesheet">
	<!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/monokai.min.css" rel="stylesheet"> -->
	<link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
	<script src="https://cdn.jsdelivr.net/npm/pace-js@latest/pace.min.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pace-js@1.2.4/themes/green/pace-theme-loading-bar.css">
	{% block custom_css %}
	{% endblock %}
</head>

<body>
	<div id="wrapper">
		<header>
			<div id="siteHeader">
				<div id="logo">
					<img src="{% static 'blog/img/favicon.ico' %}" alt="图标">
					<a href="{% url 'blog:index' %}">嘉鱼居</a>
				</div>
				<nav id="navBar">
					<div id="navItems">
						<a href="{% url 'blog:index' %}">首页</a>
						<a href="{% url 'nav:index' %}">导航</a>
						<a href="{% url 'index'%}">关于</a>
						<a href="{% url 'blog:contact' %}">联系</a>
					</div>
					<form id="searchForm" role="search" method="get" action="{% url 'blog:search' %}">
						<input type="search" name="q" placeholder="搜索" required>
						<button type="submit"><span class="icofont-search-2"></span></button>
					</form>
				</nav>
			</div>
			{% if messages %}
			{% for message in messages %}
			<div class="alert alert-{{ message.tags }} alert-dismissible" role="alert" id="message">
				{{ message }}
			</div>
			{% endfor %}
			{% endif %}
		</header>

		<main>
			<div class="row">
				<div class="col-md-8" style="padding: 1rem">
					{% block main %}
					{% endblock main %}
				</div>
				<div class="col-md-4" style="padding: 1rem">
					{% block toc %}
					{% endblock toc %}

					{% show_recent_posts 10 %}
					{% show_archives %}
					{% show_categories %}
					{% show_tags %}

					<div class="widget">
						<h3 class="widget-title">其他</h3>
						<div class="rss">
							<span class="icofont-rss-feed"></span><a href="{% url 'blog:rss' %}"> RSS订阅</a>
						</div>
						<div class="joke">
							<span class="icofont-image"></span><a href="{% url 'joke:index' %}"> 神兔笑话</a>
						</div>
						<div class="book">
							<span class="icofont-book"></span><a href="{% url 'book:index' %}"> 我的书单</a>
						</div>
						<div class="v2ray">
							<span class="icofont-web"></span><a href="{% url 'v2ray:index' %}"> 科学上网</a>
						</div>
					</div>
				</div>
			</div>
		</main>

		<footer>
			<p>
				<span id="runtime_span"></span><br>
				<span style="font-family: monospace">© 2021
					<a href="https://twitter.com/HenryJi529" style="text-decoration: underline; font-weight:bold">Henry
						Ji</a></span> /
				<span style="font-family: monospace">License: <a href="https://www.gnu.org/licenses/agpl-3.0.en.html"
						style="text-decoration: underline; font-weight:bold">AGPLv3</a></span> /
				<span style="font-family: monospace">Powered by <a href="https://cloud.google.com/"
						style="text-decoration: underline; font-weight:bold">Google
						Cloud</a></span>
			</p>
		</footer>
	</div>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.3.1/build/highlight.min.js"></script>
<script src="https://cdn.bootcss.com/highlightjs-line-numbers.js/2.8.0/highlightjs-line-numbers.min.js"></script>
<script>
	hljs.highlightAll()
	hljs.initLineNumbersOnLoad();
</script>

<script src="{% static 'base/js/runtime.js' %}"></script>
<script data-href="https://github.com/HenryJi529/OpenMorningstar" src="{% static 'base/js/github.js'%}"></script>

</html>