{% load compress %}
{% load matomo_tags %}
{% load static %}
{% load blog_extras %}
<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=560">
	<title>Blog - 晨星博客</title>
	<meta name="description" content="专注于WEB全栈,无线通信,复杂网络的个人博客">
	<link rel="icon" href="{% static 'blog/img/favicon.ico' %}">
	<link rel="apple-touch-icon" href="{% static 'blog/img/favicon.png' %}">
	<!--https://fontawesome.com/v6/icons?m=free-->
	<link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
	{% compress css %}
	<link rel="stylesheet" href="{% static 'blog/css/base.css' %}">
	{% endcompress %}

	{% block custom_css %}
	{% endblock %}
	{% tracking_code %}
</head>

<body>
	<div class="modals">
		{% if not user.is_authenticated %}
		<div class="login-modal-content">
			<input type="checkbox" id="loginModal" class="modal-toggle" />
			<label for="loginModal" class="modal cursor-pointer">
				<label class="modal-box relative" for="">
					<div class="text-2xl font-bold text-center">登录</div>
					<form id="login_form" action="{% url 'blog:login' %}" method="post" autocomplete="on">
						{% csrf_token %}
						{% for field in login_form %}
						<div class="mb-2">
							<div id="{{ field.name }}_check"></div>
							<label for="{{ field.id_for_label }}" class="inline-block mb-1 font-bold">{{ field.label }}:
							</label>
							{% if field.name == 'image_captcha' %}
							<div id="id_image_captcha_box" class="flex justify-between items-center">
								<div class="w-7/12">
									{{ field }}
								</div>
								<div class="w-5/12 flex justify-end items-center">
									<img src="{% url 'get_image_captcha' %}" alt="图片验证码" title="点击刷新,60s有效"
										class="cursor-pointer" id="image_code">
								</div>
								<script>
									setInterval(() => {
										document.querySelector('#image_code').setAttribute('src', document.querySelector('#image_code').getAttribute('src') + "?")
									}, 60 * 1000)
									document.querySelector('#image_code').addEventListener('click', (evt) => {
										evt.target.setAttribute("src", evt.target.getAttribute("src") + "?");
									})
								</script>
							</div>
							{% else %}
							{{ field }}
							{% endif %}
						</div>
						{% endfor %}
						<div class="flex justify-evenly items-center mb-3">
							<input type="reset" value="重置" class="btn shadow-md shadow-gray-500">
							<div></div>
							<input name="next" value="{{request.path}}" hidden></input>
							<div></div>
							<input type="submit" value="登录" class="btn shadow-md shadow-gray-500">
						</div>
					</form>
				</label>
			</label>
		</div>
		<div class="register-modal-content">
			<input type="checkbox" id="registerModal" class="modal-toggle" />
			<label for="registerModal" class="modal cursor-pointer">
				<label class="modal-box relative" for="">
					<div class="text-2xl font-bold text-center">注册</div>
					<form id="register_form" action="{% url 'blog:register' %}" method="post" autocomplete="on">
						{% csrf_token %}
						{% for field in register_form %}
						<div class="mb-2">
							<div id="{{ field.name }}_check"></div>
							<label for="{{ field.id_for_label }}" class="inline-block mb-1 font-bold">{{ field.label }}:
							</label>
							{{ field }}
						</div>
						{% endfor %}
						<div class="flex justify-evenly items-center mb-3">
							<input type="reset" value="重置" class="btn shadow-md shadow-gray-500">
							<div></div>
							<input name="next" id="next" value="{{request.path}}" hidden></input>
							<div></div>
							<input type="submit" value="注册" class="btn shadow-md shadow-gray-500" id="submit_button">
						</div>
					</form>
				</label>
			</label>
		</div>
		<div class="find-modal-content">
			<input type="checkbox" id="findModal" class="modal-toggle" />
			<label for="findModal" class="modal cursor-pointer">
				<label class="modal-box relative" for="">
					<div class="text-2xl font-bold text-center">找回</div>
					<div class="mb-2">
						<p class="indent-[2em]">
							咱就是说, 要是早用
							<a href="https://www.lastpass.com/how-lastpass-works"
								class="link link-secondary">LastPass</a>
							之类的密码管理软件, 不就没这回事儿了吗～
						</p>
						<p class="indent-[2em]">
							<span class="font-bold">补救方法</span>: 联系站长并验明身份, 站长会发一个含临时令牌的链接给您。
							您可以通过该链接重新登入账号, 登入后请即刻到{档案}区修改密码(临时令牌使用一次后就会失效[一天后也自动失效])。
						</p>
					</div>
					<a href="{% url 'blog:contact' %}" class="flex justify-center">
						<div class="btn">联系站长(邮箱)</div>
					</a>
				</label>
			</label>
		</div>
		{% else %}
		<div class="profile-modal-content">
			<input type="checkbox" id="profileModal" class="modal-toggle" />
			<div class="modal">
				<div class="modal-box relative max-w-none w-full h-[60rem] max-h-full">
					<label for="profileModal" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
					<div class="text-3xl font-bold text-center">{<span class="">{{user.username}}</span>}的档案</div>
					<div class="text-2xl font-bold my-2">基本信息</div>
					<form action="{% url 'blog:updateInfo' %}" method="post" enctype="multipart/form-data"
						class="form-control relative mb-6">
						{% csrf_token %}
						{% for field in info_form %}
						<div class="mb-2 w-full">
							<div id="{{ field.name }}_check"></div>
							<label for="{{ field.id_for_label }}" class="inline-block mb-1 font-bold">{{ field.label }}:
							</label>
							{% if field.name == "avatar" %}
							<div class="flex items-center justify-start space-x-4 p-2">
								<div class="avatar">
									<div class="w-24 rounded-full">
										<img src="/media/{{ user.avatar }}" id="avatarDisplay" />
									</div>
								</div>
								<div
									class="w-full relative text-2xl leading-[6rem] h-24 rounded-xl border-2 border-indigo-600">
									{{ field }}
									<div class="h-full text-center" id="id_avatarNote">
										请选择图片～
									</div>
								</div>
							</div>
							{% else %}

							{{ field }}

							{% endif %}
						</div>
						{% endfor %}
						<div>
							<input type="submit" value="保存" class="w-full btn shadow-md shadow-gray-500"
								id="save_button">
						</div>
					</form>
					<div class="text-2xl font-bold my-2">账号信息</div>
					<div class="px-4 mb-3 text-gray-300 dark:text-gray-600">
						<div>手机: {{user.phone}}</div>
						<div>邮箱: {{user.email}}</div>
					</div>
					<div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4">
						<div>
							<div class="text-lg font-bold indent-[2.5em]">换绑手机</div>
							<form action="{% url 'blog:updatePhone' %}" method="post" id="updatePhoneForm">
								{% csrf_token %}
								<div id="error-update-phone" class="text-red-500 pl-10"></div>
								<div class="flex items-center mb-2">
									<label for="id_phone" class="inline-block w-[4em] text-right pr-2">
										手机:
									</label>
									<input type="text" name="phone" id="id_phone" class="input flex-1" />
								</div>
								<div class="flex items-center mb-2">
									<label for="id_phone_code" class="inline-block w-[4em] text-right pr-2">
										验证码:
									</label>
									<div class="flex-1 flex space-x-4">
										<input type="text" name="phone_code" id="id_phone_code" class="input flex-1" />
										<div class="btn" id="phoneCodeButton" data-enable="true">获取验证码</div>
									</div>
								</div>
								<input type="submit" value="保存" class="w-full btn">
							</form>
							<script>
								document.querySelector("#phoneCodeButton").addEventListener('click', (evt) => {
									if (evt.target.dataset.enable === "false") {
										return;
									}
									evt.target.dataset.enable === "false";
									fetch("{% url 'send_phone_code' 'chphone' %}", {
										method: "post",
										headers: {
											"X-CSRFToken": "{{ csrf_token }}",
											'Content-Type': 'application/json',
										},
										body: JSON.stringify({
											csrfmiddlewaretoken: "{{ csrf_token }}",
											identity: document.querySelector('#updatePhoneForm').querySelector("#id_phone").value,
										}),
									})
										.then((res) => res.json())
										.then((data) => {
											console.log(data);
											if (data.status === "error") {
												document.querySelector('#error-update-phone').innerHTML = data.msg;
												setTimeout(() => {
													document.querySelector('#error-update-phone').innerHTML = "";
												}, 3000);
												return;
											}
											document.querySelector("#phoneCodeButton").innerText = 600;
											let phoneCodeTimer = setInterval(() => {
												document.querySelector("#phoneCodeButton").innerText = document.querySelector("#phoneCodeButton").innerText - 1;
												if (document.querySelector("#phoneCodeButton").innerText == 0) {
													clearInterval(phoneCodeTimer);
													evt.target.dataset.enable === "true";
													document.querySelector("#phoneCodeButton").innerText = "获取验证码";
												}
											}, 1000);
										})
								})
							</script>
						</div>

						<div>
							<div class="text-lg font-bold indent-[2.5em]">换绑邮箱</div>
							<form action="{% url 'blog:updateEmail' %}" method="post" id="updateEmailForm">
								{% csrf_token %}
								<div id="error-update-email" class="text-red-500 pl-10"></div>
								<div class="flex items-center mb-2">
									<label for="id_email" class="inline-block w-[4em] text-right pr-2">
										邮箱:
									</label>
									<input type="email" name="email" id="id_email" class="input flex-1" />
								</div>
								<div class="flex items-center mb-2">
									<label for="id_email_code" class="inline-block w-[4em] text-right pr-2">
										验证码:
									</label>
									<div class="flex-1 flex space-x-4">
										<input type="text" name="email_code" id="id_email_code" class="input flex-1" />
										<div class="btn" id="emailCodeButton" data-enable="true">获取验证码</div>
									</div>
								</div>
								<input type="submit" value="保存" class="w-full btn">
							</form>
							<script>
								document.querySelector("#emailCodeButton").addEventListener('click', (evt) => {
									if (evt.target.dataset.enable === "false") {
										return;
									}
									evt.target.dataset.enable === "false";
									fetch("{% url 'send_email_code' 'chemail' %}", {
										method: "post",
										headers: {
											"X-CSRFToken": "{{ csrf_token }}",
											'Content-Type': 'application/json',
										},
										body: JSON.stringify({
											csrfmiddlewaretoken: "{{ csrf_token }}",
											identity: document.querySelector('#updateEmailForm').querySelector("#id_email").value,
										}),
									})
										.then((res) => res.json())
										.then((data) => {
											console.log(data);
											if (data.status === "error") {
												document.querySelector('#error-update-email').innerHTML = data.msg;
												setTimeout(() => {
													document.querySelector('#error-update-email').innerHTML = "";
												}, 3000);
												return;
											}
											document.querySelector("#emailCodeButton").innerText = 600;
											let emailCodeTimer = setInterval(() => {
												document.querySelector("#emailCodeButton").innerText = document.querySelector("#emailCodeButton").innerText - 1;
												if (document.querySelector("#emailCodeButton").innerText == 0) {
													clearInterval(emailCodeTimer);
													evt.target.dataset.enable === "true";
													document.querySelector("#emailCodeButton").innerText = "获取验证码";
												}
											}, 1000);
										})
								})
							</script>
						</div>

						<div>
							<div class="text-lg font-bold indent-[2.5em]">修改密码</div>
							<form action="{% url 'blog:updatePassword' %}" method="post" id="updatePasswordForm">
								{% csrf_token %}
								<div class="flex items-center mb-2">
									<label for="id_password" class="inline-block w-[4em] text-right pr-2">
										新密码:
									</label>
									<input type="password" name="password" id="id_password" class="input flex-1" />
								</div>
								<div class="flex items-center mb-2">
									<label for="id_confirm_password" class="inline-block w-[4em] text-right pr-2">
										请确认:
									</label>
									<input type="password" name="confirm_password" id="id_confirm_password"
										class="input flex-1" />
								</div>
								<input type="submit" value="保存" class="w-full btn">
							</form>
						</div>
					</div>
				</div>
			</div>
			<script src="{% static 'blog/js/loadAvatarFromInput.js' %}"></script>
		</div>
		{% endif %}
		<div class="server-modal-content">
			<input type="checkbox" id="serverModal" class="modal-toggle" />
			<div class="modal">
				<div class="modal-box relative">
					<label for="serverModal" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
					<h3 class="text-4xl font-bold text-center">本站服务</h3>
					<div class="py-4 text-2xl flex flex-col items-center justify-center" id="serviceList">
						<div class="overflow-visible whitespace-nowrap">
							<i class="fa-solid fa-fire fa-beat"></i>
							<a href="{% url 'game:index' %}" target="_blank">三国杀(建设中)</a>
						</div>
						<div>
							<i class="fa-solid fa-compass"></i>
							<a href="{% url 'nav:index' %}" target="_blank">晨星导航</a>
						</div>
						<div>
							<i class="fa-solid fa-images"></i>
							<a href="{% url 'joke:index' %}" target="_blank">神兔笑话</a>
						</div>
						<div>
							<i class="fa-solid fa-rss"></i>
							<a href="{% url 'rss:index' %}" target="_blank">聚合阅读</a>
						</div>
						<div>
							<i class="fa-solid fa-square-poll-vertical"></i>
							<a href="{% url 'poll:index' %}" target="_blank">在线投票</a>
						</div>
						<div>
							<i class="fa-solid fa-square-root-variable"></i>
							<a href="{% url 'formula:index' %}" target="_blank">公式转换</a>
						</div>
						<div>
							<i class="fa-solid fa-share-nodes"></i>
							<a href="{% url 'share:index' %}" target="_blank">链接分享</a>
						</div>
					</div>
					<style>
						#serviceList div {
							width: 6em;
						}
					</style>
				</div>
			</div>
		</div>

	</div>

	<div class="container min-h-screen m-auto">
		<div class="fixed bottom-2 right-2 md:bottom-8 md:right-8 rounded-xl border-2 border-solid px-3 py-2 md:px-4 md:py-3 cursor-pointer"
			id="scrollBox">
			<i class="fa-solid fa-angles-up text-3xl"></i>
		</div>

		<div class="fixed top-4 left-4 md:hidden" id="menuButton">
			<label class="btn btn-circle swap swap-rotate">
				<!-- this hidden checkbox controls the state -->
				<input type="checkbox" class="invisible" id="toggleMobileMenuCheckbox" />
				<!-- hamburger icon -->
				<i class="fa-solid fa-bars swap-off fill-current text-2xl"></i>
				<!-- close icon -->
				<i class="fa-solid fa-xmark swap-on fill-current text-2xl"></i>
			</label>
		</div>

		<header>
			<nav class="navbar bg-base-100 flex-col md:flex-row gap-4 md:gap-10 md:justify-between">
				<div class="flex-none">
					<a class="btn btn-ghost normal-case text-5xl" href="{% url 'blog:index' %}">晨星小站</a>
				</div>
				<div class="flex-none flex justify-between">
					<form id="searchForm" class="form-control" role="search" method="get"
						action="{% url 'blog:search' %}">
						<div class="input-group">
							<button type="submit" class="btn btn-square">
								<i class="fa-brands fa-searchengin text-2xl"></i>
							</button>
							<input type="search" placeholder="搜索" class="input input-bordered" name="q" required>
						</div>
					</form>
					<div class="flex">
						<div class="flex justify-center p-2" id="toggleThemeButton" title="模式">
							<i class="fa-solid text-2xl" id="themeIcon"></i>
						</div>
						<div class="flex justify-center p-2" id="loverButton" title="爱人">
							<a href="{% url 'lover:index' %}" target="_blank" class="text-2xl fa-solid fa-heart"></a>
						</div>
						<div class="flex justify-center p-2" id="bookButton" title="书单">
							<a href="{% url 'book:index' %}" target="_blank"
								class="text-2xl fa-solid fa-book-atlas"></a>
						</div>
						<div class="flex justify-center p-2" id="githubButton" title="源码">
							<a href="https://github.com/HenryJi529/OpenMorningstar" target="_blank"
								class="fa-brands text-2xl fa-github"></a>
						</div>
						<div class="flex justify-center p-2" id="serverButton" title="服务">
							<label for="serverModal" class="modal-button cursor-pointer">
								<i class="fa-solid text-2xl fa-server"></i>
							</label>
						</div>
						<div class="flex justify-center p-2" id="contactButton" title="联系">
							<a href="{% url 'blog:contact' %}" class="fa-solid text-2xl fa-paper-plane"></a>
						</div>
						<div class="dropdown dropdown-end" id="profileButton" title="档案">
							<label tabindex="0" class="btn btn-ghost btn-circle avatar">
								{% if user.is_authenticated %}
								<div class="w-10 rounded-full">
									<img src="{{ user.avatar.url }}" class="w-full" />
								</div>
								{% else %}
								<i class="fa-solid text-3xl fa-user"></i>
								{% endif %}
							</label>
							<ul tabindex="0"
								class="mt-1 p-1 shadow menu menu-compact dropdown-content bg-base-100 rounded-box w-20">
								{% if user.is_authenticated %}
								<li class="indicator">
									<span
										class="indicator-item badge text-red-500 bg-slate-300 dark:bg-slate-200 text-xs px-1 h-4">新</span>
									<label for="profileModal" class="modal-button">档案</label>
								</li>
								<li><a href="{% url 'blog:logout' %}">登出</a></li>
								{% else %}
								<li><label for="loginModal" class="modal-button">登录</label></li>
								<li><label for="registerModal" class="modal-button">注册</label></li>
								<li><label for="findModal"
										class="modal-button text-gray-300 dark:text-gray-600">找回</label>
								</li>
								{% endif %}
							</ul>
						</div>
					</div>
				</div>
			</nav>
			{% if messages %}
			{% for message in messages %}
			<div class="alert alert-{{ message.tags }} alert-dismissible" role="alert" id="message">
				{{ message }}
			</div>
			{% endfor %}
			{% endif %}
		</header>

		<main>
			<div class="md:flex md:px-2">
				<div id="mainContent" class="w-full md:w-2/3 p-2 md:p-4 lg:p-6 xl:p-8 2xl:p-10">
					{% block main %}
					{% endblock main %}
				</div>
				<aside id="sideContent" class="hidden md:block w-full md:w-1/3 p-2 md:p-4 lg:p-6 xl:p-8 2xl:p-10">
					{% block toc %}
					{% endblock toc %}

					{% show_hot_posts 5 %}
					{% show_recent_posts 5 %}
					{% show_archives %}
					{% show_categories %}
					{% show_tags %}
					{% show_other_links %}
				</aside>
			</div>
		</main>

		<footer class="pb-2">
			<div class="text-center">
				<div id="runtime_span"></div>
				<div id="copyright">
					<span>© 2022
						<a href="{% url 'me' %}" class="font-bold" style="font-family: Lora">Henry Ji</a>
					</span>
					<span class="brightness-0">/</span>
					<span>License: <a href="https://www.gnu.org/licenses/agpl-3.0.en.html"
							class="font-bold">AGPLv3</a></span>
					<span class="brightness-0">/</span>
					<span>Powered by <a href="https://www.djangoproject.com/" class="font-bold">Django</a></span>
				</div>
			</div>
			{% compress js %}
			<script src="{% static 'base/js/runtime.js' %}"></script>
			{% endcompress %}
		</footer>
	</div>
</body>


{% compress js %}
<script src="{% static 'node_modules/localstorage-slim/dist/localstorage-slim.js' %}"></script>
<script src="{% static 'blog/js/toggleMobileMenu.js' %}"></script>
<script src="{% static 'blog/js/toggleTheme.js' %}"></script>
<script src="{% static 'blog/js/scrollToTop.js' %}"></script>
{% endcompress %}

{% block custom_js %}
{% endblock custom_js %}

</html>