{% extends 'blog/base.html' %}


{% block main %}
<div class="p-4">
	<div class="text-3xl pb-3">联系站长</div>
	<article>
		<div>
			<form id="contactForm" action="{% url 'blog:contact' %}" method="POST">
				{% csrf_token %}
				<div>
					<input type="email" placeholder="邮箱" class="input input-ghost w-full" name="email" />
					<input type="text" placeholder="主题" class="input input-ghost w-full" name="subject" required />
					<textarea class="textarea w-full" rows="7" name="message" placeholder="你的网站太棒了呢(字数太少站长收不到哟～)"
						required></textarea>
					<button class="btn"><span>发送</span></button>
				</div>
			</form>
		</div>
	</article>
</div>
{% endblock main %}