{% extends 'blog/base.html' %}
{% load compress %}
{% load comments_extras %}

{% block custom_css %}

{% compress css %}
<link rel="stylesheet" href="{% static 'node_modules/highlight.js/styles/github.css' %}">
{% endcompress %}

{% endblock custom_css %}

{% block main %}
<article class="post">
    <div class="post-header flex flex-col items-center mb-8">
        <a class="text-center text-4xl block pb-2" href="{{ post.get_absolute_url }}">
            {{ post.title }}
        </a>
        <div class="flex justify-center text-sm text-center space-x-2">
            <span>
                <i class="fa-solid fa-folder"></i>
                <a href="{% url 'blog:category' post.category.pk %}">{{ post.category.name }}</a>
            </span>
            {% if post.tags.all %}
            <span>
                <i class="fa-solid fa-tag"></i>
                {% for tag in post.tags.all %}
                <a href="{% url 'blog:tag' tag.pk %}">{{ tag.name }}</a>
                {% if not forloop.last %}
                <span>|</span>
                {% endif %}
                {% endfor %}
            </span>
            {% endif %}
            <span>
                <i class="fa-solid fa-comment"></i>
                <a href="{{ post.get_absolute_url }}#comment-area">{{ post.comment_set.count }}</a></span>
            <span>
                <i class="fa-solid fa-eye"></i>
                <a href="{% url 'blog:detail' post.pk %}">{{ post.views }}</a>
            </span>
            <span>
                <i class="fa-solid fa-pen"></i>
                <time>{{ post.updated|date:"Y-m-d" }}</time>
            </span>
            <span>
                <i class="fa-solid fa-clock-rotate-left"></i>
                <time>{{ post.readtime }}min</time>
            </span>
        </div>
    </div>

    <div class="post-body">
        {{ post.html|safe }}
    </div>
</article>

<div class="divider"></div>

<section id="comment-area">
    <div class="pb-4">
        {% show_comments post user %}
    </div>
    <div class="pb-4">
        {% show_comment_form post %}
    </div>
</section>
{% endblock main %}

{% block toc %}
{% if post.toc %}
<div class="widget p-2 relative">
    <input class="widget-toggle hidden absolute w-full" type="checkbox" />
    <h3 class="widget-title text-2xl">目录</h3>
    <div class="widget-list toc">
        {{ post.toc|safe }}
    </div>
</div>
<div class="divider"></div>
{% endif %}
{% endblock toc %}

{% block custom_js %}

{% compress js %}
<script src="{% static 'blog/dist/highlight.bundle.js' %}"></script>
{% endcompress %}

<script src="{% static 'node_modules/mathjax/es5/tex-mml-chtml.js' %}"></script>
{% endblock custom_js %}