{% extends 'blog/base.html' %}
{% load highlight %}


{% block custom_css %}
<style>
	/* 搜索关键词高亮 */
	/* span.highlighted {
	color: red;
	} */
	span.highlight_me_please {
		color: rgb(226, 54, 83);
	}
</style>
{% endblock %}


{% block main %}
{% if query %}



{% for result in page.object_list %}

{% with post=result.object %}
<article class="p-4 m-3">
	<div class="flex flex-col items-center">
		<a class="text-center text-2xl block" href="{{ post.get_absolute_url }}">
			{% highlight post.title with query html_tag "span" css_class "highlight_me_please"%}
		</a>
		<div class="flex justify-center text-sm text-center space-x-2">
			<span>
				<i class="fa-solid fa-folder"></i>
				<a href="{% url 'blog:category' post.category.pk %}">{{post.category.name}}</a>
			</span>
			<span>
				<i class="fa-solid fa-eye"></i>
				<a href="{% url 'blog:detail' post.pk %}">{{post.views}}</a>
			</span>
			<span>
				<i class="fa-solid fa-clock-rotate-left"></i>
				<time>{{ post.readtime }}min</time>
			</span>
		</div>
	</div>
	<div>
		<p>{% highlight post.excerpt with query html_tag "span" css_class "highlight_me_please" %}</p>
		<div class="flex justify-center">
			<a href="{{ post.get_absolute_url }}" class="italic">继续阅读 <span>→</span></a>
		</div>
	</div>
</article>
{% endwith %}

{% empty %}

<div>没有搜索到你想要的结果！</div>

{% endfor %}


{% with page_obj=page %}
<div class="flex justify-between text-left">
	<div class="flex-1 text-left text-lg">
		{% if page_obj.has_previous %}
		<a href="?q={{ query }}&amp;page={{ page_obj.previous_page_number }}">
			<i class="fa-solid fa-angles-left"></i>上一页
		</a>
		{% else %}
		<div class="invisible"></div>
		{% endif %}
	</div>

	<a href="#" class="current font-bold flex-1 text-center text-lg">
		{{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
	</a>

	<div class="flex-1 text-right text-lg">
		{% if page_obj.has_next %}
		<a href="?q={{ query }}&amp;page={{ page_obj.next_page_number }}">
			下一页 <i class="fa-solid fa-angles-right"></i>
		</a>
		{% else %}
		<div class="invisible"></div>
		{% endif %}
	</div>
</div>
{% endwith %}


{% else %}

请输入搜索关键词，例如 django

{% endif %}
{% endblock main %}