version: "3.6"
volumes:
  morningstar_django_static: null
  morningstar_django_media: null
  morningstar_nginx_data: null
  morningstar_db1_data: null
  morningstar_db2_data: null
  morningstar_matomo_data: null
  morningstar_beancount_data: null
  morningstar_tshock_data: null
  morningstar_ftp_data: null
  morningstar_ftp_log: null
  morningstar_jellyfin_config: null
  morningstar_jellyfin_cache: null
  morningstar_jellyfin_media: null
  morningstar_portainer_data: null
  morningstar_redis_data: null

services:
  redis:
    container_name: morningstar_redis
    image: redis:latest
    ports:
      - "6379:6379"
    volumes:
      - morningstar_redis_data:/data
    command: redis-server --requirepass ${REDIS_PASSWORD} --loglevel warning

  django:
    build:
      context: .
      dockerfile: django/Dockerfile
    image: henry529/django
    tty: true
    container_name: morningstar_django
    restart: unless-stopped
    working_dir: /app
    volumes:
      - morningstar_django_static:/app/static
      - morningstar_django_media:/app/media
      - ../../:/app
    environment:
      - DJANGO_SECRET_KEY=${DJANGO_SECRET_KEY}
      - EMAIL_HOST_PASSWORD=${EMAIL_HOST_PASSWORD}
      - TENCENT_SMS_APP_KEY=${TENCENT_SMS_APP_KEY}
      - RECAPTCHA_PUBLIC_KEY=${RECAPTCHA_PUBLIC_KEY}
      - RECAPTCHA_PRIVATE_KEY=${RECAPTCHA_PRIVATE_KEY}
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - REDIS_PASSWORD=${REDIS_PASSWORD}
    ports:
      - 6000:8000
    depends_on:
      - db1

  db1:
    image: mysql:latest
    container_name: morningstar_db1
    restart: always
    environment:
      - MYSQL_HOST=localhost
      - MYSQL_PORT=3306
      - MYSQL_DATABASE=djangodb
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
    volumes:
      - morningstar_db1_data:/var/lib/mysql
    ports:
      - 3307:3306

  matomo:
    image: matomo
    container_name: morningstar_matomo
    restart: always
    ports:
      - 6003:80
    environment:
      - MATOMO_DATABASE_HOST=db2
      - MATOMO_DATABASE_USERNAME=matomo
      - MATOMO_DATABASE_PASSWORD=matomo
      - MATOMO_DATABASE_DBNAME=matomo
    volumes:
      - morningstar_matomo_data:/var/www/html
    depends_on:
      - db2

  db2:
    image: mariadb:latest
    container_name: morningstar_db2
    restart: always
    environment:
      MYSQL_DATABASE: matomo
      MYSQL_USER: matomo
      MYSQL_PASSWORD: matomo
      MYSQL_RANDOM_ROOT_PASSWORD: '1'
    volumes:
      - morningstar_db2_data:/var/lib/mysql

  tshock:
    build:
      context: .
      dockerfile: tshock/Dockerfile
    image: henry529/tshock:latest
    container_name: morningstar_tshock
    hostname: morningstar_tshock
    working_dir: /root
    privileged: true
    tty: true
    restart: unless-stopped
    volumes:
      - morningstar_tshock_data:/root/.local/share/Terraria
    ports:
      - "6002:7777"

  frps:
    image: snowdreamtech/frps
    container_name: morningstar_frps
    working_dir: /root
    tty: true
    restart: always
    volumes:
      - ./_config/frp:/etc/frp
    network_mode: "host"

  ftp:
    image: fauria/vsftpd
    container_name: morningstar_ftp
    environment:
      FTP_USER: ftp
      FTP_PASS: 1234asdw
      PASV_MIN_PORT: 21100
      PASV_MAX_PORT: 21110
      PASV_ADDRESS: 43.154.26.218
    tty: true
    restart: always
    volumes:
      - morningstar_ftp_data:/home/vsftpd
      - morningstar_ftp_log:/var/log/vsftpd
    ports:
      - "20:20"
      - "21:21"
      - "21100-21110:21100-21110"

  nginx:
    build:
      context: .
      dockerfile: nginx/Dockerfile
    image: henry529/nginx
    tty: true
    container_name: morningstar_nginx
    volumes:
      - morningstar_nginx_data:/etc/letsencrypt
      - morningstar_django_static:/apps/django/static
      - morningstar_django_media:/apps/django/media
      - ./nginx/www:/usr/share/nginx/html/www
      - ./nginx/conf:/etc/nginx/conf.d
    restart: always
    ports:
      - "80:80"
      - "443:443"

  beancount:
    build:
      context: .
      dockerfile: beancount/Dockerfile
    image: henry529/beancount:latest
    container_name: morningstar_beancount
    hostname: henry-beancount
    working_dir: /root
    tty: true
    restart: unless-stopped
    volumes:
      - morningstar_beancount_data:/root/beancount
    ports:
      - "6001:5000"

  jellyfin:
    image: jellyfin/jellyfin
    container_name: morningstar_jellyfin
    hostname: henry-jellyfin
    volumes:
      - morningstar_jellyfin_cache:/cache
      - morningstar_jellyfin_config:/config
      - morningstar_jellyfin_media:/media
    restart: 'unless-stopped'
    ports:
      - "6006:8096"
    environment:
      - JELLYFIN_PublishedServerUrl=https://jellyfin.morningstar369.com

  portainer:
    image: portainer/portainer:latest
    container_name: morningstar_portainer
    working_dir: /root
    tty: true
    restart: unless-stopped
    volumes:
      - morningstar_portainer_data:/data
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - "6007:9000"

  sshwifty:
    image: niruix/sshwifty:latest
    container_name: morningstar_sshwifty
    tty: true
    restart: always
    ports:
      - "6010:8182"
