<form action="{% url 'blog:comment' post.pk %}" method="POST" class="w-full">
	{% csrf_token %}
	<div class="flex space-x-4 w-full">
		<div class="btn btn-ghost btn-circle avatar">
			<div class="w-14 rounded-full">
				{% if user.username %}
				<img src="/media/{{ user.avatar }}" alt="{{ user.username }}'s avatar">
				{% else %}
				<i class="fa-solid text-5xl fa-circle-user"></i>
				{% endif %}
			</div>
		</div>

		<div class="flex-1 rounded-xl border-2">
			<div class="flex bg-slate-100 dark:bg-slate-600 space-x-4 rounded-t-xl p-2">
				<div class="p-1 cursor-pointer">编写</div>
				<div class="p-1 cursor-pointer">预览</div>
			</div>
			<div class="p-2">
				{{ form.body }}
				{{ form.body.errors }}
			</div>
			<div class="flex justify-end p-2 pt-0">
				{% if user.username %}
				<button type="submit" class="btn">评论</button>
				{% else %}
				<label for="loginModal" class="btn modal-button text-amber-500">登录</label>
				{% endif %}
			</div>
		</div>
	</div>
</form>

<script>
	let textarea = document.querySelector('textarea.auto-expend');
	textarea.addEventListener('keydown', (e) => {
		setTimeout(() => {
			// for box-sizing other than "content-box" use:
			// el.style.cssText = '-moz-box-sizing:content-box';
			if (e.target.scrollHeight > 112) {
				e.target.style.height = e.target.scrollHeight + 'px';
			}
		}, 0);
	});
</script>