<div class="space-y-4">
	{% for comment in comment_list %}
	<div class="flex space-x-4 w-full">
		<div class="btn btn-ghost btn-circle avatar">
			<div class="w-14 rounded-full">
				<img src="/media/{{ comment.user.avatar }}" alt="{{ comment.user.username }}'s avatar">
			</div>
		</div>
		<div class="flex-1 rounded-xl border-2">
			<div class="flex bg-slate-100 dark:bg-slate-600 space-x-4 rounded-t-xl p-2">
				<div>
					<span class="font-bold">{{ comment.user.username }}</span>
				</div>
				<div>评论于<span>{{comment.updated|timesince}}</span>前</div>
			</div>
			<div class="p-2">
				{{ comment.html|safe }}
			</div>
			<div class="flex justify-end p-2 pt-0">
			</div>
		</div>
	</div>
	{% empty %}
	<div class="text-xl">暂无评论～</div>
	{% endfor %}
</div>