<form action="{% url 'blog:comment' post.pk %}" method="POST">
	{% csrf_token %}
	<div>
		<label for="{{ form.name.id_for_label }}">{{ form.name.label }}: </label>
		{{ form.name }}
		{{ form.name.errors }}
	</div>
	<div>
		<label for="{{ form.email.id_for_label }}">{{ form.email.label }}: </label>
		{{ form.email }}
		{{ form.email.errors }}
	</div>
	<div>
		<label for="{{ form.body.id_for_label }}">{{ form.body.label }}: </label>
	</div>
	<div>
		{{ form.body }}
		{{ form.body.errors }}
	</div>
	<button type="submit">发表</button>
</form>