[run]
branch = True
source = . 
data_file = scripts/coverage/.coverage
omit =
	manage.py
	Morningstar/asgi.py
	Morningstar/wsgi.py
	Morningstar/cron.py
	Morningstar/settings/production.py
	Morningstar/whoosh_cn_backend.py
	Morningstar/middleware/maintenance.py
	Morningstar/settings/common.py

[report]
show_missing = True
skip_covered = True

[html]
directory = scripts/deploy/nginx/www/coverage