{% load compress %}
<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=400">
	<title>Lover - ToTheMax</title>
	<meta name="description" content="随机展示爱人的照片">
	<link rel="shortcut icon" href="{% static 'lover/img/favicon.ico' %}" type="image/x-icon">
	{% compress css %}
	<link rel="stylesheet" href="{% static 'lover/css/style.css' %}">
	{% endcompress %}
	<link rel="stylesheet" href="{% static 'node_modules/pace-js/pace-theme-default.min.css' %}">
	<script src="{% static 'node_modules/pace-js/pace.min.js' %}"></script>
</head>

<body class="h-screen flex flex-col justify-between items-center overflow-hidden">
	<header class="text-pink-300 text-2xl pt-6">
		谨以此页献给我的爱人FQL~
	</header>
	<div id="wrapper" class="flex-1 flex justify-center items-center">
		<div id="prompt" class="font-bold text-center p-7 rounded-3xl text-6xl border-8 border-double border-rose-600">
			loading...
		</div>
	</div>
	<footer class="pb-2">
		<div class="text-center">
			<div id="runtime_span"></div>
			<div id="copyright">
				<span>© 2021
					<a href="{% url 'me' %}" class="font-bold" style="font-family: Lora">Henry Ji</a>
				</span>
				<span class="brightness-0">/</span>
				<span>License: <a href="https://www.gnu.org/licenses/agpl-3.0.en.html"
						class="font-bold">AGPLv3</a></span>
				<span class="brightness-0">/</span>
				<span>Powered by <a href="https://cloud.google.com/" class="font-bold">GCloud</a></span>
			</div>
		</div>
		{% compress js %}
		<script src="{% static 'base/js/runtime.js' %}"></script>
		{% endcompress %}
	</footer>

</body>
<script data-href="https://github.com/HenryJi529/OpenMorningstar"
	src="{% static 'node_modules/github-corners/dist/embed.min.js' %}"></script>
{% compress js %}
<script src="{% static 'lover/js/app.js' %}"></script>
{% endcompress %}
<!-- 初始化 -->
<script>
	const isMobile = /Android|iPhone/i.test(navigator.userAgent) ? true : false;
	const api = "{% url 'lover:api' %}" + `?isMobile=${isMobile}`;
	let trigger = isMobile ? "touchenter" : "mousemove";
	let fills;
	let maxLevel = 7;
	let svg;

	fetch(api).then(res => res.json()).
		then(data => {
			// 暂存数据
			fills = data["fills"].map(x => transformColorHex2Dec(x));

			// 初始化面板
			const wrapper = document.querySelector("#wrapper");
			const promptElement = document.querySelector("#prompt");
			wrapper.removeChild(promptElement);

			// 创建svg图形
			svg = document.createElementNS("http://www.w3.org/2000/svg", 'svg')
			svg.setAttribute("width", 2 ** maxLevel * 3)
			svg.setAttribute("height", 2 ** maxLevel * 4)
			wrapper.appendChild(svg)

			// 创建touchEnter事件
			let touchEnterEvent = new Event("touchenter");
			const elementContains = (parent, child) => parent !== child && parent.contains(child);
			document.dispatchEvent(touchEnterEvent);
			document.addEventListener("touchmove", (e) => {
				let el = document.elementFromPoint(e.touches[0].clientX, e.touches[0].clientY);
				if (!el) {
					return;
				} else {
					if (elementContains(svg, el)) {
						el.dispatchEvent(touchEnterEvent);
					};
				}
			}
			)

			// 创建基础椭圆
			let initialCx = 2 ** maxLevel * 3 / 2;
			let initialCy = 2 ** maxLevel * 4 / 2;
			let initialLevel = maxLevel;
			let initialFill = getCurrentFill(initialCx, initialCy, initialLevel);
			let initialRx = getCurrentRx(initialLevel);
			let initialRy = getCurrentRy(initialLevel);
			let initialEllipse = createEllipse(initialCx, initialCy, initialRx, initialRy, initialFill, initialLevel);

			// 自动完成功能
			const autoCheck = setInterval(() => {
				console.log(`已完成数量: ${svg.childNodes.length}`);
				if (svg.childNodes.length >= 1500) {
					clearInterval(autoCheck);
					autoFinish();
				}
			}, 1000);
		})
</script>

</html>