* {
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    position: fixed;
    width: 100vw;
    align-items: center;
    justify-content: center;
    height: -webkit-fill-available;
    font-size: 40px;
}

.letter {
    color: #2486ff;
    border-style: solid;
    border-width: .5em;
    display: inline-block;
    position: relative;

    &:after {
        border-style: solid;
        border-width: .5em;
        content: '';
        position: absolute;
    }
}

.letter[data-char="A"] {
    border-bottom: none;
    border-radius: 1em 1em 0 0;
    height: 2.05em;
    margin-top: -.05em;
    width: 1em;

    &:after {
        border-bottom: none;
        border-left: none;
        border-right: none;
        left: 0;
        right: 0;
        top: .75em;
    }
}

.letter[data-char="B"] {
    border-radius: 0 1em 1em 0;
    height: .5em;
    width: 1em;

    &:after {
        border-radius: 0 1em 1em 0;
        bottom: 100%;
        height: .5em;
        left: -.5em;
        width: .9em;
    }
}

.letter[data-char="C"] {
    border-right: none;
    border-radius: 1em 0 0 1em;
    height: 1.5em;
    width: 1.5em;

    &:after {
        border-bottom: none;
        border-left: none;
        border-top: none;
        height: .5em;
        right: 0;
        top: 0;
        width: .5em;
    }
}

.letter[data-char="D"] {
    border-radius: 0 1em 1em 0;
    height: 1.5em;
    width: 1em;

    &:after {
        border: none;
    }
}

.letter[data-char="E"] {
    border-right: none;
    height: 1.5em;
    width: 1.5em;

    &:after {
        border-bottom: none;
        left: 0;
        right: .5em;
        top: .5em;
    }
}

.letter[data-char="F"] {
    border-bottom: none;
    border-right: none;
    height: 2em;
    width: 1.5em;

    &:after {
        border-bottom: none;
        left: 0;
        right: .5em;
        top: .5em;
    }
}

.letter[data-char="G"] {
    border-right: none;
    border-radius: 1em 0 0 1em;
    height: 1.5em;
    width: 1.5em;

    &:after {
        border-bottom: none;
        border-left: none;
        border-top: none;
        bottom: 0;
        height: .5em;
        right: 0;
        width: .5em;
    }
}

.letter[data-char="H"] {
    border-bottom: none;
    border-top: none;
    height: 2.5em;
    width: 1em;

    &:after {
        border-bottom: none;
        left: 0;
        right: 0;
        top: 1em;
    }
}

.letter[data-char="I"] {
    border-left: none;
    border-right: none;
    height: 1.5em;
    width: 1.5em;

    &:after {
        border-bottom: none;
        border-left: none;
        border-top: none;
        bottom: 0;
        left: .5em;
        top: 0;
        width: 0;
    }
}

.letter[data-char="J"] {
    border-left: none;
    border-top: none;
    border-radius: 0 0 1em 0;
    height: 2em;
    width: 1.5em;

    &:after {
        border-bottom: none;
        border-right: none;
        border-top: none;
        bottom: 0;
        height: .5em;
        left: 0;
        width: .5em;
    }
}

.letter[data-char="K"] {
    border-bottom: 0;
    border-radius: 0 1em 0 0;
    height: 1em;
    width: 1em;

    &:after {
        border-top: none;
        border-radius: 0 0 1em 0;
        bottom: 100%;
        height: 1em;
        left: -.5em;
        width: .9em;
    }
}

.letter[data-char="L"] {
    border-right: none;
    border-top: none;
    height: 2em;
    width: 1.5em;

    &:after {
        border: none;
    }
}

.letter[data-char="M"] {
    border-bottom: none;
    border-radius: 1em 1em 0 0;
    height: 2.05em;
    margin-right: 1.25em;
    margin-top: -.05em;
    width: .75em;

    &:after {
        border-bottom: none;
        border-radius: 1em 1em 0 0;
        height: 2.05em;
        left: .75em;
        top: -.5em;
        width: .75em;
    }
}

.letter[data-char="N"] {
    border-bottom: none;
    border-radius: 0 1em 0 0;
    height: 2em;
    width: 1em;

    &:after {
        border: none;
    }
}

.letter[data-char="O"] {
    border-radius: 1em;
    height: 1.6em;
    margin-bottom: -.05em;
    margin-top: -.05em;
    width: 1.25em;

    &:after {
        border: none;
    }
}

.letter[data-char="P"] {
    border-bottom: none;
    border-right: none;
    border-top: none;
    height: 1em;
    width: 1.5em;

    &:after {
        border-radius: 0 1em 1em 0;
        bottom: 100%;
        height: .5em;
        left: -.5em;
        width: 1em;
    }
}

.letter[data-char="Q"] {
    border-radius: 1em 1em 0 1em;
    height: 1.55em;
    margin-top: -.05em;
    width: 1.25em;

    &:after {
        border-radius: .5em 0 0 0;
        bottom: -.5em;
        right: -.5em;
    }
}

.letter[data-char="R"] {
    border-bottom: none;
    border-radius: 0 1em 0 0;
    height: 1em;
    width: 1em;

    &:after {
        border-radius: 0 1em 1em 0;
        bottom: 100%;
        height: .5em;
        left: -.5em;
        width: 1em;
    }
}

.letter[data-char="S"] {
    border-left: none;
    border-top: none;
    border-radius: 1em .5em 1em 0;
    height: 1em;
    margin-right: -.05em;
    width: 1.5em;

    &:after {
        border-bottom: none;
        border-right: none;
        border-radius: 1em 0 1em .5em;
        height: 1em;
        right: -.4em;
        top: -1em;
        width: 1.4em;
    }

    &:before {
        border-color: inherit;
        border-style: solid;
        border-width: .5em;
        border-bottom: none;
        border-left: none;
        border-right: none;
        content: '';
        height: 0;
        left: .5em;
        position: absolute;
        width: 1em;
    }
}

.letter[data-char="T"] {
    border-bottom: none;
    border-left: none;
    border-right: none;
    height: 2em;
    width: 2em;

    &:after {
        border-bottom: none;
        border-left: none;
        border-top: none;
        bottom: 0;
        left: .75em;
        top: 0;
        width: 0;
    }
}

.letter[data-char="U"] {
    border-top: none;
    border-radius: 0 0 1em 1em;
    height: 2.05em;
    margin-bottom: -.05em;
    width: 1em;

    &:after {
        border: none;
    }
}

.letter[data-char="V"] {
    border-top: none;
    border-radius: 0 0 1em 0;
    width: 1em;
    height: 2em;

    &:after {
        border: none;
    }
}

.letter[data-char="W"] {
    border-top: none;
    border-radius: 0 0 1em 1em;
    height: 2.05em;
    margin-bottom: -.05em;
    margin-right: 1.25em;
    width: .75em;

    &:after {
        border-top: none;
        border-radius: 0 0 1em 1em;
        height: 2.05em;
        left: .75em;
        top: 0em;
        width: .75em;
    }
}

.letter[data-char="X"] {
    border-bottom: none;
    border-radius: 1em 1em 0 0;
    height: 1em;
    width: 1em;

    &:after {
        border-top: none;
        border-radius: 0 0 1em 1em;
        height: 1em;
        left: -.5em;
        top: -1.5em;
        width: 1em;
    }
}

.letter[data-char="Y"] {
    border-top: none;
    border-radius: 0 0 1em 1em;
    height: 1em;
    margin-bottom: 1em;
    width: 1em;

    &:after {
        border-bottom: none;
        border-left: none;
        border-top: none;
        bottom: -1.5em;
        left: .25em;
        top: 1em;
        width: 0;
    }
}

.letter[data-char="Z"] {
    border-left: none;
    border-right: none;
    height: 1.5em;
    width: 2em;

    &:after {
        border-bottom: none;
        border-right: none;
        border-top: none;
        height: 2.5em;
        left: .75em;
        top: -.5em;
        width: 0;
        -ms-transform: rotate(41.5deg);
        transform: rotate(41.5deg);
    }
}