.theme-default {
	font-weight: bold !important;
}

.jazzmin-login-page .login-box {

	.login-logo h1 img {
		width: 100px;
		border: rgba(25, 158, 247, 0.4) double 2px;
		border-radius: 40%;
		padding: 2px;
	}

	.card .card-body .login-box-msg {
		font-weight: bold;
	}
}