{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="{% static 'base/img/favicon.ico' %}">
	<title>ERROR</title>
	<style>
		.container {
			width: 80%;
			border-width: 10px;
			border: 10px black double;
			margin: 20vh auto;
			text-align: center;
			min-height: 20vh;
			border-radius: 2rem;
		}

		.container h1 {
			font-size: 5rem;
		}
	</style>
</head>

<body>
	<div class="container">
		{% block content %}
		<h1>error</h1>
		{% endblock %}
	</div>

</body>

</html>