{% load compress %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formula - 公式转化</title>
    <link rel="shortcut icon" href="{% static 'formula/img/favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static 'formula/img/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'formula/css/style.css' %}">
</head>

<body class="fixed w-screen" style="min-height: -webkit-fill-available;">
    <div class="container m-auto p-5 md:py-10 md:px-20">
        <nav class="text-center text-3xl md:text-5xl mb-6">
            LaTex公式转换
        </nav>
        <main>
            <textarea id="formulaTextarea" name="formula" class="textarea textarea-info w-full min-h-[10rem] mb-6"
                placeholder="请输入LaTex公式"></textarea>

            <div id="formulaDisplay" class="w-full bg-slate-300 min-h-[10rem] p-2 rounded-lg"></div>
        </main>
    </div>

    <footer class="absolute bottom-2 mx-auto w-full">
        <div class="text-center">
            <div id="runtime_span"></div>
            <div id="copyright">
                <span>© 2022
                    <a href="{% url 'me' %}" class="font-bold" style="font-family: Lora">Henry Ji</a>
                </span>
                <span class="brightness-0">/</span>
                <span>License: <a href="https://www.gnu.org/licenses/agpl-3.0.en.html"
                        class="font-bold">AGPLv3</a></span>
                <span class="brightness-0">/</span>
                <span>Powered by <a href="https://www.djangoproject.com/" class="font-bold">Django</a></span>
            </div>
        </div>
        {% compress js %}
        <script src="{% static 'base/js/runtime.js' %}"></script>
        {% endcompress %}
    </footer>
</body>
<script>
    MathJax = {
        tex: {
            inlineMath: [['$', '$'], ['\\(', '\\)']]
        }
    };
</script>
<script id="MathJax-script" src="{% static 'node_modules/mathjax/es5/tex-mml-chtml.js' %}"></script>
<script>
    let formulaTextarea = document.querySelector("#formulaTextarea")
    let formulaDisplay = document.querySelector("#formulaDisplay")
    setInterval(() => {
        formulaDisplay.innerHTML = formulaTextarea.value
        // formulaDisplay.innerHTML = '$$' + formulaTextarea.value + '$$'
        MathJax.typeset()
    }, 500);
    // console.log(formulaTextarea.value)
</script>

</html>