$header-height: 56px;

$header-left-width: 200px;
$header-right-width: 250px;

$header-center-maxwidth: 730px;
$header-center-item-height: 35px;

$sidebar-width: 240px;

$large-screen: 1300px;
$media-screen: 1000px;