@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin flex-between {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@mixin flex-around {
	display: flex;
	justify-content: space-around;
	align-items: center;
}


@mixin temporary-border($color) {
	border: 2px $color dashed;
}