{% load static %}
{% load matomo_tags %}
{% load compress %}
<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="{% static 'poll/img/favicon.ico' %}">
	<link rel="apple-touch-icon" href="{% static 'poll/img/favicon.png' %}">
	{% compress css %}
	<link rel="stylesheet" href="{% static 'poll/css/style.css' %}">
	{% endcompress %}
	<title>Poll - 在线投票</title>
	<meta name="description" content="这是个简易的投票工具">
	<link rel="stylesheet" href="{% static 'node_modules/pace-js/pace-theme-default.min.css' %}">
	<script src="{% static 'node_modules/pace-js/pace.min.js' %}"></script>
	{% tracking_code %}
</head>

<body>
	<main class="container min-h-screen">
		<div class="box">
			{% block main %}
			{% endblock %}
		</div>
	</main>
	<footer class="pb-2">
		<p>
			<span id="runtime_span"></span><br>
			<span>© 2022 <a href="{% url 'me' %}">Henry Ji</a></span> /
			<span>License: <a href="https://www.gnu.org/licenses/agpl-3.0.en.html">AGPLv3</a></span> /
			<span>Powered by <a href="https://www.djangoproject.com/">Django</a></span>
		</p>
	</footer>
</body>
<script data-href="https://github.com/HenryJi529/OpenMorningstar"
	src="{% static 'node_modules/github-corners/dist/embed.min.js' %}"></script>
{% compress js %}
<script src="{% static 'base/js/runtime.js' %}"></script>
{% endcompress %}

</html>