.products {
  padding-bottom: 5vh;
}
.products .product {
  padding: 0 2em;
  margin: 1em 0;
  border-radius: 1em;
  background-color: rgb(227, 244, 197);
}
.products .product .info {
  height: 3em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.products .product .info .name {
  font-weight: bold;
}
.products .product .info .link {
  display: flex;
  padding: 1em;
  justify-content: space-between;
  width: 15em;
  padding: 0 10px;
}
.products .product .info .link .license {
  text-decoration: underline;
  cursor: pointer;
}
.products .product .info .link .homepage {
  text-decoration: underline;
  cursor: pointer;
}
.products .product .license-text {
  width: 100%;
  font-size: 0.8em;
}