.products {
	padding-bottom: 5vh;

	.product {
		padding: 0 2em;
		margin: 1em 0;
		border-radius: 1em;

		background-color: rgb(227, 244, 197);

		.info {
			height: 3em;
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;

			.name {
				font-weight: bold;
			}

			.link {
				display: flex;
				padding: 1em;
				justify-content: space-between;
				width: 15em;
				padding: 0 10px;

				.license {
					text-decoration: underline;
					cursor: pointer;
				}

				.homepage {
					text-decoration: underline;
					cursor: pointer;
				}
			}
		}

		.license-text {
			width: 100%;
			font-size: 0.8em;
		}

	}
}