* {
  font-size: 15px;
}

.title {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  padding: 1rem 0;
}

nav {
  width: 20rem;
  margin: 0 auto;
}

nav a.item {
  font-style: normal;
  text-decoration: none;
  color: rgb(177, 50, 220);
  line-height: 2rem;
  height: 2rem;
  font-size: 1.5rem;
  text-align: center;
  display: block;
}

nav a.item:hover {
  color: rgb(25, 125, 219);
}

nav a.item:focus {
  color: rgb(25, 219, 187);
  text-decoration: underline;
}

nav a.item:before {
  content: url("../img/rocket.svg");
  padding-right: 1rem;
}

@media screen and (max-width: 400px) {
  * {
    font-size: 12px;
  }
}
