.container {
  box-sizing: border-box;
  width: 100%;
  max-width: 400px;
  margin: auto;
  margin-top: 7%;
  padding: 1.5rem 1rem;
  border-radius: 20px;
  background: rgb(219, 232, 245);
  box-shadow: 10px 10px 20px #a8e2f0, -10px -10px 20px #ffffff;

  .logo {
    text-align: center;
    margin: 0 auto;
    width: 40%;

    img {
      width: 100%;
    }
  }

  form {
    label {
      font-weight: bold;
    }

    input {
      font-size: 1.3rem;
    }

    input[type="reset"],
    input[type="submit"] {
      border-radius: 10px;
      padding: 0.3rem 1rem;
      box-shadow: 0.3rem 0.3rem 0.3rem 0 gray;
    }

    div.g-recaptcha {
      text-align: center;
    }

    div.g-recaptcha>div {
      display: inline-block;
    }

    .cmd {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
  }
}


.float {
  float: left;
  width: 100%;
}


.messages {
  margin: 0 auto;
  width: 80%;

  .message {
    text-align: center;
    display: block;
    padding: 0.5rem 0;
    width: 100%;
    font-size: 1.2rem;
    margin-bottom: 0;

    @media screen and (max-width: 600px) {
      width: 100%;
    }
  }

  .message-error {
    color: rgb(255, 115, 0);
  }

  .message-info {
    color: rgb(108, 165, 235);
  }
}