{% load static %}
{% load matomo_tags %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'rss/img/favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static 'rss/img/favicon.png' %}">
    <title>RSS - 聚合阅读</title>
    <meta name="description" content="仿照Feed43的富阅读源生成工具">
    <link rel="stylesheet" href="{% static 'rss/css/_tailwind.css' %}">
    {% tracking_code %}
</head>

<body class="flex justify-center items-center">
    <div class="container flex flex-col justify-between items-center min-h-screen">
        {% if items %}
        <div class="pt-4">
            <div class="text-5xl pb-4 text-center">RSS源列表</div>
            <div class="overflow-x-auto">
                <table class="table table-zebra w-full">
                    <thead>
                        <tr>
                            <th class="text-xl"></th>
                            <th class="text-xl">名称</th>
                            <th class="text-xl">原链接</th>
                            <th class="text-xl">RSS源</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                        <tr>
                            <th>{{ forloop.counter }}</th>
                            <td class="font-bold">{{ item.title }}</td>
                            <td>
                                <a href="{{item.link}}" class="hover:underline decoration-solid">
                                    {{item.link}}
                                </a>
                            </td>
                            <td>
                                <a href="{{ item.rss }}" class="hover:underline decoration-solid">
                                    https://morningstar369.com{{ item.rss}}
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}

        <footer class="pb-2">
            <div class="text-center">
                <div id="runtime_span"></div>
                <div id="copyright">
                    <span>© 2022
                        <a href="{% url 'me' %}" class="font-bold" style="font-family: Lora">Henry Ji</a>
                    </span>
                    <span class="brightness-0">/</span>
                    <span>License: <a href="https://www.gnu.org/licenses/agpl-3.0.en.html"
                            class="font-bold">AGPLv3</a></span>
                    <span class="brightness-0">/</span>
                    <span>Powered by <a href="https://cloud.google.com/" class="font-bold">GCloud</a></span>
                </div>
            </div>
            {% compress js %}
            <script src="{% static 'base/js/runtime.js' %}"></script>
            {% endcompress %}
        </footer>
    </div>
</body>

</html>