{% load compress %}
{% load matomo_tags %}

<!DOCTYPE html>
<html lang="en" data-theme="garden">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=400, initial-scale=1.0">
    <title>Share - 链接分享</title>
    <!--https://fontawesome.com/v6/icons?m=free-->
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'share/css/base.css' %}">
    <link rel="shortcut icon" href="{% static 'share/img/favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static 'share/img/favicon.png' %}">
    {% tracking_code %}
</head>

<body>
    <div class="w-screen h-screen fixed flex justify-between flex-col" style="height: -webkit-fill-available;">
        {% block main %}
        {% endblock main %}
        <footer class="pb-2">
            <div class="text-center">
                <div id="runtime_span"></div>
                <div id="copyright">
                    <span>© 2022
                        <a href="{% url 'me' %}" class="font-bold" style="font-family: Lora">Henry Ji</a>
                    </span>
                    <span class="brightness-0">/</span>
                    <span>License: <a href="https://www.gnu.org/licenses/agpl-3.0.en.html"
                            class="font-bold">AGPLv3</a></span>
                    <span class="brightness-0">/</span>
                    <span>Powered by <a href="https://www.djangoproject.com/" class="font-bold">Django</a></span>
                </div>
            </div>
            {% compress js %}
            <script src="{% static 'base/js/runtime.js' %}"></script>
            {% endcompress %}
        </footer>
    </div>
</body>

</html>