{% extends 'share/base.html' %}

{% block main %}
<main class="flex flex-col items-center justify-center space-y-12 py-20">
    <div class="text-5xl mt-20">
        链接分享
    </div>
    <form action="{% url 'share:submit' %}" method="POST" class="form-control">
        {% csrf_token %}
        <div class="input-group">
            <input type="text" name="url" placeholder="添加链接..."
                class="input input-bordered w-[20rem] md:w-[32rem] lg:w-[40rem]" />
            <button type="submit" class="btn btn-square">GO</button>
        </div>
    </form>
</main>
{% endblock main %}