{% extends 'share/base.html' %}

{% block main %}
<main class="mt-10 w-[20rem] md:w-[32rem] lg:w-[40rem] mx-auto">
    {% if success %}
    <div class="alert shadow-lg">
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none"
                viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <span>分享成功!</span>
        </div>
    </div>
    <div class="md:text-2xl my-10 text-center">
        <i class="fa-solid fa-link"></i><a href="{{ link }}" class="text-lime-600">{{ link }}</a>
    </div>
    <div class="flex justify-center">
        <img src="{{ image_url }}" alt="链接二维码" class="h-[16rem]">
    </div>
    {% else %}
    <div class="alert shadow-lg">
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none"
                viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
            </svg>
            <span>链接生成失败...</span>
        </div>
    </div>
    {% endif %}
</main>
{% endblock main %}