{% extends 'share/base.html' %}

{% block main %}
<main class="mt-10 w-[20rem] md:w-[32rem] lg:w-[40rem] mx-auto my-10 text-center">
    <div class="text-2xl text-red-500 mb-10">
        建议浏览器打开哦～
    </div>
    <div>
        <a href="{{ url }}" class="link text-3xl">{{ url }}</a>
    </div>
</main>
{% endblock %}