{% load compress %}
{% load static %}

<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<!-- 预留页面标题位置 -->
	<title>{% block title %}{% endblock title %}</title>
	<link rel="icon" href="{% static 'joke/img/favicon.ico' %}">
	{% compress css %}
	<link rel="stylesheet" href="{% static 'joke/css/hover.css' %}">
	<link rel="stylesheet" href="{% static 'joke/css/style.css' %}">
	{% endcompress %}
</head>

<body>
	{% include 'joke/header.html' %}

	{% block content %}{% endblock content %}

	{% include 'joke/footer.html' %}

</body>

{% block js %}{% endblock %}

</html>