{% load compress %}
{% load matomo_tags %}
{% load static %}

<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=400">
	<title>Joke - 神兔笑话</title>
	<link rel="icon" href="{% static 'joke/img/favicon.ico' %}">
	<!--https://fontawesome.com/v6/icons?m=free-->
	<link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
	<link rel="apple-touch-icon" href="{% static 'joke/img/favicon.png' %}">
	{% compress css %}
	<link rel="stylesheet" href="{% static 'joke/css/style.css' %}">
	{% endcompress %}
	{% tracking_code %}
</head>

<body>
	<div class="modals">
		<div class="notice-modal-content">
			<input type="checkbox" id="noticeModal" class="modal-toggle" />
			<div class="modal">
				<div class="modal-box relative">
					<label for="noticeModal" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
					<h3 class="text-2xl font-bold text-center mb-2">常见问答</h3>
					<div class="collapse border border-base-300 rounded-2xl mb-2">
						<input type="checkbox" />
						<div class="collapse-title text-lg font-medium">
							为何不采用更常见的垂直滚动内容无限生成的交互模式？
						</div>
						<div class="collapse-content">
							<p>主要是为了防沉迷, 因此只随机生成20个文本或图片笑话</p>
						</div>
					</div>
					<div class="collapse border border-base-300 rounded-2xl mb-2">
						<input type="checkbox" />
						<div class="collapse-title text-lg font-medium">
							怎样分享素材给站长呢？
						</div>
						<div class="collapse-content">
							<p>欢迎直接<a href="mailto: jeep.jipu@gmail.com">邮箱联系</a>站长。</p>
							<p>对于素材, 核心要求是搞笑。毕竟访客是来寻开心的, 不是受教育的～</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="min-h-screen container mx-auto">
		<header class="pt-6 pb-4 flex justify-center items-end">
			<div title="刷新"
				class="btn btn-sm btn-circle rounded-full border-2 text-xl flex justify-center items-center bg-gray-200">
				<label class="fa-solid fa-rotate text-green-500" onclick="location.reload();">
				</label>
			</div>
			<span class="text-5xl">神兔笑话</span>
			<div title="问答"
				class="btn btn-sm btn-circle rounded-full border-2 text-xl flex justify-center items-center bg-gray-200">
				<label for="noticeModal" class="fa-solid fa-question text-sky-400">
				</label>
			</div>
		</header>

		<main class="relative">
			<div class="z-10 h-full w-full absolute top-0 bg-gray-400/30" id="progressBarContainer">
				<div class="top-1/2 left-0 fixed w-screen flex justify-center items-center">
					<progress class="progress progress-info w-56 h-4 md:w-96 md:h-8" id="progressBar"></progress>
				</div>
			</div>
			<div id="masonryGrid">
				{% for joke in joke_list %}
				<figure class="masonry-item w-full md:w-1/2 lg:w-1/3 xl:w-1/4 inline-block">
					<div class="border-solid border-slate-300 border-8 rounded-2xl m-2">
						{% if joke.type == "photo" %}
						<div>
							<a href="{{ joke.content.uri }}">
								<img src="{{ joke.content.uri }}">
							</a>
						</div>
						{% endif %}
						{% if joke.type == "text" %}
						<div class="p-4 py-8">
							<p>{{ joke.content.html|safe }}</p>
						</div>
						{% endif %}
					</div>
				</figure>
				{% endfor %}
			</div>
		</main>

		<footer class="pb-2">
			<div class="text-center">
				<div id="runtime_span"></div>
				<div id="copyright">
					<span>© 2022
						<a href="{% url 'me' %}" class="font-bold" style="font-family: Lora">Henry Ji</a>
					</span>
					<span class="brightness-0">/</span>
					<span>License: <a href="https://www.gnu.org/licenses/agpl-3.0.en.html"
							class="font-bold">AGPLv3</a></span>
					<span class="brightness-0">/</span>
					<span>Powered by <a href="https://www.djangoproject.com/" class="font-bold">Django</a></span>
				</div>
			</div>
			{% compress js %}
			<script src="{% static 'base/js/runtime.js' %}"></script>
			{% endcompress %}
		</footer>
	</div>
</body>

<script src="{% static 'node_modules/masonry-layout/dist/masonry.pkgd.min.js' %}"></script>
<script data-href="https://github.com/HenryJi529/OpenMorningstar"
	src="{% static 'node_modules/github-corners/dist/embed.min.js' %}"></script>
{% compress js %}
<script src="{% static 'joke/js/app.js' %}"></script>
{% endcompress %}

</html>