{% extends "joke/base.html" %}
{% block title %}神兔笑话{% endblock title %}

{% block content %}
<div class="container">
	<div class="row" data-masonry='{"percentPosition": true}'>
		{% for photo in photos %}
		<div class="col-md-12 col-lg-4 py-3" class="picture">
			<div class="card hvr-float-shadow">
				{% if photo.foreignUrl %}
				<a class="imageLink" href="{{ photo.foreignUrl }}">
					<img src="{{ photo.foreignUrl }}" alt="" class="card-img">
				</a>
				{% else %}
				<a class="imageLink" href="{{ photo.image.url }}">
					<img src="{{ photo.image.url }}" alt="" class="card-img">
				</a>
				{% endif %}
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock content %}


{% block js %}

{% endblock %}