name: Other Tasks
on:
  schedule:
    - cron: "0 9 * * 6"
jobs:
  test-mirror:
    name: test mirror
    runs-on: ubuntu-latest
    steps:
      - name: ping jsdelivr
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.PUBLIC_IP }}
          username: ${{ secrets.CLOUD_USERNAME }}
          password: ${{ secrets.CLOUD_PASSWORD }}
          port: 22
          script: |
            ping -c 20 cdn.jsdelivr.net
      - name: clone mirror repo with gitlab
        run: |
          git clone https://gitlab.com/HenryJi529/OpenMorningstar.git gitlab

