name: Release

on:
  push:
    branches: [main]

jobs:
  release-docker-image:
    name: release docker image
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: echo "${{secrets.DOCKER_PASSWORD}}" | docker login -u henry529 --password-stdin
      - run: docker build ./scripts/deploy -f ./scripts/deploy/tshock/Dockerfile -t henry529/tshock:latest
      - run: docker push henry529/tshock:latest
      - run: docker build ./scripts/deploy -f ./scripts/deploy/beancount/Dockerfile -t henry529/beancount:latest
      - run: docker push henry529/beancount:latest
      - run: docker build ./scripts/deploy -f ./scripts/deploy/dev/Dockerfile -t henry529/dev:latest
      - run: docker push henry529/dev:latest